<fieldset class="scheduler-border">
    <legend class="scheduler-border">融资基本信息</legend>
    <div class="row m-t-md">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">合同编号：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.contractNo}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">申请单号：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.appId}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">姓名：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">证件号码：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.idNo}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">融资金额：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.financeAmt}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">融资期限：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.period}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">还款方式：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.repayModeDesc}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">放款日期：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.loanDate }}</p>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">展期信息</legend>
    <div class="row m-t-md">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">现融资期限：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.period}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">新融资期限：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyVo.newPeriod}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">新还款方式：</label>
                <div class="col-sm-8">
                    <select id="repayMode" class="form-control" ng-model="applyVo.newRepayMode"
                            ng-options="item.dictDataCode as item.dictDataName for item in repayModeList" required disabled>
                        <option value="">请选择还款方式</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label  class="col-sm-4 control-label">申请有效日期：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyVo.applyEndDate | mysqlDate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="data-table-container">
            <table class="table data-table">
                <thead>
                <tr>
                    <th style="width:150px">展期项目</th>
                    <th style="width:100px"></th>
                    <th style="width:150px">展期金额</th>
                    <th style="width:100px"></th>
                    <th style="width:300px">减免金额</th>
                    <th>展期项总额</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>应还本金(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.repayCapital}}</td>
                    <td>-</td>
                    <td>0</td>
                    <td>{{applyVo.feeItem.repayCapital}}</td>
                </tr>
                <tr>
                    <td>应还利息(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.repayInterest}}</td>
                    <td>-</td>
                    <td>0</td>
                    <td>{{applyVo.feeItem.repayInterest}}</td>
                </tr>
                <tr>
                    <td>应还罚息(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.repayOverdueAmount}}</td>
                    <td>-</td>
                    <td>0</td>
                    <td>{{applyVo.feeItem.repayOverdueAmount}}</td>
                </tr>
                <tr>
                    <td>其他费用(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.otherAmount}}</td>
                    <td>-</td>
                    <td>0</td>
                    <td>{{applyVo.feeItem.repayOverdueAmount}}</td>
                </tr>
                <tr>
                    <td>其他费用罚息(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.otherOverdueAmount}}</td>
                    <td>-</td>
                    <td>0</td>
                    <td>{{applyVo.feeItem.otherOverdueAmount}}</td>
                </tr>
                <tr>
                    <td>剩余本金(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.remainCapital}}</td>
                    <td>-</td>
                    <td>0</td>
                    <td>{{applyVo.feeItem.remainCapital}}</td>
                </tr>
                <tr>
                    <td>新旧还款日利息(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.newOldInterest}}</td>
                    <td>-</td>
                    <td>0</td>
                    <td>{{applyVo.feeItem.newOldInterest}}</td>
                </tr>
                <tr class="info">
                    <td>新计息本金(=)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.newCapital}}</td>
                    <td>-</td>
                    <td>0</td>
                    <td>{{applyVo.feeItem.newCapital}}</td>
                </tr>
                <tr>
                    <td>展期费用</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.extendFee}}</td>
                    <td>-</td>
                    <td>
                        <div class="form-group form-group-sm" style="margin-bottom: 0px;!important;">
                        <input type="number" class="form-control"  style="width:150px" id="interest" ng-model="applyVo.remissionFeeItemVo.lateFee"
                               verify-remission-amount="applyVo.feeItem.extendFee" step="0.01" placeholder="减免展期费">
                        </div>
                    </td>
                    <td>{{applyVo.feeItem.extendFee-applyVo.remissionFeeItemVo.lateFee}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-sm">
                <div class="col-sm-12">
                    <textarea  type="text" class="form-control" id="comment" ng-model="applyVo.applyComment" placeholder="申请备注"  rows="5" disabled ></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-sm">
                <div class="col-sm-12">
                    <textarea  type="text"  class="form-control" id="remissionComment" ng-model="applyVo.remissionFeeItemVo.remissionComment" placeholder="减免备注"  rows="5" ></textarea>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<div class="panel panel-default">
    <div class="data-table-container">
        <table class="data-table">
            <thead>
            <tr>
                <th style="width:100px">期数</th>
                <th>本金</th>
                <th>利息</th>
                <th>应还总额</th>
                <th>起息日</th>
                <th>结账日</th>
                <th>剩余本金</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in applyVo.feeItem.repayPlanList">
                <td>{{item.period}}</td>
                <td>{{item.repayCapital}}</td>
                <td>{{item.repayInterest}}</td>
                <td>{{item.repayTotalAmount}}</td>
                <td>{{item.valueDate | mysqlDate}}</td>
                <td>{{item.closingDate | mysqlDate}}</td>
                <td>{{item.remainCapital}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
