<form name="form" class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>新增车系</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="carSerialName" class="col-sm-3 control-label">车系名称：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="carSerialName" placeholder="车系名称" ng-model="item.carSerialName" required>
            </div>
        </div>
        <div class="form-group">
            <label for="carSerialName" class="col-sm-3 control-label">车辆类型：</label>
            <div class="col-sm-8">
                <select id="brandType" class="form-control" ng-model="item.carSerialGroup" required
                        ng-options="item.dictDataCode as item.dictDataName for item in carTypeList">
                    <option value="">请选择车辆类型</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="carBrandId" class="col-sm-3 control-label">所属品牌：</label>
            <div class="col-sm-8">
                <select id="carBrandId" class="form-control" ng-model="item.carBrandId"
                        ng-options="item.id as item.brandName for item in carBrandList" required>
                    <option value="">请选择品牌</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">确定</button>
        <button class="btn btn-danger btn-modal-left" type="button" ng-click="delete()">删除</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>