<div ng-init="initQueryUnCommitApplyInfoList()">
    <div class="panel_main">
        <div class="panel-header">
            <div class="panel-header-wrapper">
                <h2 class="panel-header-title">申请单录入</h2>
            </div>
        </div>
        <div class="data-table-container">
            <header class="data-table-header">
                <div class="data-table-header__label">
                    <div class="row m-t-sm">
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <input type="text" class="form-control" id="appId" ng-model="vm.appId" placeholder="申请单号">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <input type="text" class="form-control" id="name" ng-model="vm.name" placeholder="客户姓名">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-default btn-sm m-b-sm m-r-xs" ng-click="initQueryUnCommitApplyInfoList()"><i class="fa fa-search" aria-hidden="true"></i>查询</button>
                        </div>
                    </div>
                    <span class="fs-title"></span>
                </div>
                <div class="data-table-header__actions">
                    <button class="btn btn-sm btn-default" type="button" ui-sref="app.apply.add"><i class="fa fa-plus m-r-sm"></i>新增申请单</button>
                </div>
            </header>
            <table class="data-table">
                <thead>
                <tr>
                    <th  style="width: 15%">申请单编号</th>
                    <th>申请产品</th>
                    <th>客户姓名</th>
                    <th>融资金额</th>
                    <th>融资期限</th>
                    <th>申请时间</th>
                    <th>当前状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in unCommitApplyList">
                    <td  style="width: 15%">{{item.appId}}</td>
                    <td>{{item.productName}}</td>
                    <td>{{item.tenantName}}</td>
                    <td>{{item.totalFinanceAmt}}</td>
                    <td>{{item.period}}</td>
                    <td>{{item.createTime | mysqlDatetime}}</td>
                    <td>{{item.status}}</td>
                    <td>
                        <a  ui-sref="app.apply.edit({appId:item.appId})">编辑</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="has-divider has-divider--dark"></div>
            <div class="toolbar">
                <div class="toolbar__left mr++">
                    <span ng-if="paginationInfo.totalItem==0">
                        无查询结果
                    </span>
                </div>
                <span class="toolbar__label fs-title">

                </span>
                <div class="toolbar__right" ng-if="paginationInfo.totalItem>0">
                    <div class="mr+++">
                    <span>
                        总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
                    </div>
                    <div>
                        <uib-pagination boundary-links="true" total-items="paginationInfo.totalItem"
                                        ng-model="paginationInfo.curPage"
                                        max-size="paginationInfo.maxSize"
                                        items-per-page="paginationInfo.pageSize" ng-change="pageChanged()"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                        last-text="&raquo;">
                        </uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


</div>
