<div  class="panel" ng-init="initApplyAdd()">
    <div class="data-table-container" >
        <header class="data-table-header" style="min-height:72px !important;">
            <div class="data-table-header__label">
                <span class="fs-title"><i class="fa fa-plus-square mr"></i>新增申请单-{{applyInfo.appId}}</span>
            </div>
            <div class="data-table-header__actions">
                <button class="btn btn-success btn-sm" type="button"  ng-click="commitApplyTask()"><i class="fa fa-check m-r-sm"></i>提交任务</button>
                <button class="btn btn-info btn-sm" type="button" ng-click="saveApplyInfo()"><i class="fa fa-save m-r-sm"></i>保存草稿</button>
                <button class="btn btn-default btn-sm" type="button"  ng-click="back()"><i class="fa fa-level-up m-r-sm"></i>返回上级</button>
            </div>
        </header>
    </div>

    <uib-tabset>
        <uib-tab index="0">
            <uib-tab-heading>
                <span>申请信息</span>
            </uib-tab-heading>
            <div  ng-include="'module_apply/tpl/form-apply-new.html'">
            </div>
        </uib-tab>
        <uib-tab index="1" select="initUploadApplyFile()">
            <uib-tab-heading>
                <span>上传申请资料</span>
            </uib-tab-heading>
            <div style="height:100%;top: 0px;bottom: 1px;left: 0px;">
                <div class="img-left">
                    <ui-tree tree-data="signDirTree" label="dirName"  checked="true" on-select="select($item)"></ui-tree>
                </div>
                <div  class="img-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-3"  ng-repeat="item in imgIds">
                                <div class="thumbnail">
                                    <a ng-click="zoomInImage(item,imgIds)" class="zoom-in">
                                        <img ng-src="{{item}}"
                                             alt="通用的占位符缩略图">
                                    </a>

                                    <div class="caption">
                                        <p>
                                            <a class="btn btn-primary" ng-click="zoomInImage(item,imgIds)" role="button">
                                                放大
                                            </a>
                                            <a href="#" class="btn btn-default" role="button">
                                                按钮
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img-right">

                </div>
            </div>
        </uib-tab>
    </uib-tabset>

</div>
