<div ng-init="init()">
    <div class="panel_main">
        <div class="panel-header">
            <div class="panel-header-wrapper">
                <h2 class="panel-header-title">手工分单</h2>
            </div>
        </div>
        <div class="data-table-container">
            <header class="data-table-header">
                <div class="data-table-header__label">
                    <span class="fs-title"></span>
                    </div>
                <div class="data-table-header__actions">
                    <button class="btn btn-m btn-default" type="button" ui-sref="app.apply.add"><i class="fa fa-plus m-r-sm"></i>分配任务</button>
                </div>
            </header>
            <table class="data-table">
                <thead>
                <tr>
                    <th><input type="checkbox">全选</th>
                    <th>申请单编号</th>
                    <th>产品名称</th>
                    <th>客户姓名</th>
                    <th>身份证号</th>
                    <th>进件日期</th>
                    <th>所属经销商</th>
                    <th>案件状态</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in sysAccountList">
                    <td><input type="checkbox" ng-model="item.checked"></td>
                    <td>{{item.accountId}}</td>
                    <td>{{item.accountName}}</td>
                    <td>{{item.sysJob.postName}}</td>
                    <td>{{item.mobile}}</td>
                    <td>{{item.statusDict.dictDataName}}</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <div class="has-divider has-divider--dark"></div>
            <div class="toolbar">
                <div class="toolbar__left mr++">
                    <span ng-if="paginationInfo.totalItem==0">
                        无查询结果
                    </span>
                </div>
                <span class="toolbar__label fs-title">

                </span>
                <div class="toolbar__right" ng-if="paginationInfo.totalItem>0">
                    <div class="mr+++">
                    <span>
                        总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
                    </div>
                    <div>
                        <uib-pagination boundary-links="true" total-items="paginationInfo.totalItem"
                                        ng-model="paginationInfo.curPage"
                                        items-per-page="paginationInfo.pageSize" ng-change="pageChanged()"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                        last-text="&raquo;">
                        </uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


</div>
