<!--家庭负债情况-->
<fieldset class="scheduler-border">
    <legend class="scheduler-border">家庭负债情况</legend>
    <div class="row m-t-md">
        <div class="col-md-12">
            <div class="form-group form-group-sm scroll-x">
                <table class="table table-bordered table-condensed tableStyle1" style="font-size: 12px;">
                    <thead class="table-cell-back1 font-white" data-col="white">
                    <tr>
                        <th  class="col-md-2">序号</th>
                        <th>银行贷款</th>
                        <th>小贷/P2P</th>
                        <th>信用卡</th>
                        <th>亲戚</th>
                        <th>朋友</th>
                        <th  class="col-md-1">总额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="table-cell-back1 font-white">
                           欠款金额*
                        </td>
                        <td class="row">
                            <input type="number" class="form-control input-sm"  ng-required="requiredMap.familyDebt_bankLoanAmount"  ng-model="applyInfo.familyDebt.bankLoanAmount"  placeholder="银行贷款">
                        </td>
                        <td class="row">
                            <input type="number" class="form-control input-sm"  ng-required="requiredMap.familyDebt_pettyLoanAmout"   ng-model="applyInfo.familyDebt.pettyLoanAmout"  placeholder="小贷/P2P">
                        </td>
                        <td class="row">
                            <input type="number" class="form-control input-sm"  ng-required="requiredMap.familyDebt_creditLoanAmount" ng-model="applyInfo.familyDebt.creditLoanAmount"  placeholder="信用卡">
                        </td>
                        <td class="row">
                            <input type="number" class="form-control input-sm"  ng-required="requiredMap.familyDebt_relativeLoanAmount" ng-model="applyInfo.familyDebt.relativeLoanAmount"  placeholder="亲戚">
                        </td>
                        <td class="row">
                            <input type="number" class="form-control input-sm"  ng-required="requiredMap.familyDebt_friendLoanAmount" ng-model="applyInfo.familyDebt.friendLoanAmount"  placeholder="朋友">
                        </td>
                        <td>
                            <label class="col-sm-12 control-label">{{applyInfo.familyDebt.loanTotal}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-cell-back1 font-white">月还款*</td>
                        <td class="row">
                            <input type="number" class="form-control input-sm" ng-required="requiredMap.familyDebt_bankLoanYhk" ng-model="applyInfo.familyDebt.bankLoanYhk"  placeholder="银行贷款">
                        </td>
                        <td class="row">
                            <input type="number" class="form-control input-sm"  ng-required="requiredMap.familyDebt_pettyLoanYhk" ng-model="applyInfo.familyDebt.pettyLoanYhk"  placeholder="小贷/P2P">
                        </td>
                        <td class="row">
                            <input type="number" class="form-control input-sm"  ng-required="requiredMap.familyDebt_creditLoanYhk" ng-model="applyInfo.familyDebt.creditLoanYhk"  placeholder="信用卡">
                        </td>
                        <td class="row">
                            <input type="number" class="form-control input-sm"  ng-required="requiredMap.familyDebt_relativeLoanYhk" ng-model="applyInfo.familyDebt.relativeLoanYhk"  placeholder="亲戚">
                        </td>
                        <td class="row">
                            <input type="number" class="form-control input-sm"  ng-required="requiredMap.familyDebt_friendLoanYhk" ng-model="applyInfo.familyDebt.friendLoanYhk"  placeholder="朋友">
                        </td>
                        <td>
                            <label class="col-sm-12 control-label">{{applyInfo.familyDebt.loanYhkTotal}}</label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</fieldset>