<!--申请信息-->
<fieldset class="scheduler-border" ng-disabled="approveEditable==false">
    <legend class="scheduler-border">申请信息</legend>
    <div class="row m-t-md">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label for="product" class="col-sm-4 control-label">融资产品：</label>
                <div class="col-sm-8">
                    <select id="product" class="form-control" ng-model="applyInfo.product" ng-change="refreshFormRequiredMap()"
                            ng-disabled="editable==false"
                            ng-options="item.productName group by item.productTypeName  for item in productList track by item.id"  ng-required="requiredMap.product" >
                        <option value="">请选择产品</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label for="repayMode" class="col-sm-4 control-label">还款方式：</label>
                <div class="col-sm-8">
                    <select id="repayMode" class="form-control" ng-model="applyInfo.product.repayMode"
                            ng-options="item.dictDataCode as item.dictDataName for item in repayModeList" required disabled>
                        <option value="">请选择还款方式</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label for="period" class="col-sm-4 control-label">融资期限：</label>
                <div class="col-sm-8">
                    <select id="period" class="form-control" ng-model="applyInfo.period"
                            ng-disabled="editable==false"
                            ng-options="item.period as (item.period+'期') for item in applyInfo.product.productPeriodList"  ng-required="requiredMap.period" >
                        <option value="">请选择融资期限</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label  class="col-sm-4 control-label">融资总额：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">￥{{applyInfo.totalFinanceAmt}}元</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label  class="col-sm-4 control-label">放款总额：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">￥{{applyInfo.totalLoanAmt}}元</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">月租金:</label>
                    <p class="form-control-static">￥{{applyInfo.monthRent}}元</p>
                <div class="col-sm-8">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group form-group-sm">
                <label for="comment" class="col-sm-2 control-label">申请备注：</label>
                <div class="col-sm-10">
                    <textarea ng-disabled="editable==false" type="text" class="form-control" id="comment" ng-model="applyInfo.comment" placeholder="申请备注" ng-required="requiredMap.comment"></textarea>
                </div>
            </div>
        </div>
    </div>
</fieldset>