<div class="row m-t-md" >
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label  class="col-sm-4 control-label">车辆品牌：</label>
            <div class="col-sm-8" >
                <div class="m-t-xs">
                    <span>{{item.carStyle.carBrand.brandName}}</span><a href="javascript:"  ng-if="editable!=false && approveEditable!=false"  ng-click="selectCar(item)"><i class="fa fa-plus-square-o m-r-sm"></i>选择车型</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label  class="col-sm-4 control-label">车辆系列：</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{item.carStyle.carSerial.carSerialName}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label  class="col-sm-4 control-label">车辆型号：</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{item.carStyle.carStyleName}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label  class="col-sm-4 control-label">排量：</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{item.carStyle.displacement}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label  class="col-sm-4 control-label">指导价：</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{item.carStyle.guidePrice}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label class="col-sm-4 control-label">类型：</label>
            <div class="col-sm-8">
                <select for="type" class="form-control" ng-model="item.carType"
                        ng-disabled="editable==false"
                        ng-options="item.dictDataCode as item.dictDataName for item in carTypeList" ng-required="requiredMap.carType" >
                    <option value="">请选择类型</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label class="col-sm-4 control-label">裸车价:</label>
            <div class="col-sm-8">
                <input type="number"  class="form-control input-sm"  ng-disabled="editable==false" ng-model="item.salePrice" verify-sale-price="applyInfo.product.productRule"   ng-required="requiredMap.salePrice"   placeholder="裸车价">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group  form-group-sm">
            <label   class="col-sm-4 control-label">首付/抵押比例：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="number"  class="form-control" ng-disabled="editable==false"   ng-model="item.initPayPercent" verify-init-percent="applyInfo.product.productRule"  placeholder="首付/抵押比例"
                           ng-required="requiredMap.initPayPercent" >
                    <span class="input-group-addon">
                        <b>%</b>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label  class="col-sm-4 control-label">GPS档位：</label>
            <div class="col-sm-8">
                <select  class="form-control"  ng-model="item.gpsLvl"  ng-change="onGpsLvlSelected(item)"
                         ng-disabled="editable==false"
                         ng-options="lvl.lvlName for lvl in item.gpsLvlList track by lvl.id" ng-required="requiredMap.gpsLvl">
                    <option value="">请选择GPS档位</option>
                </select>
                <!--
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-click="onIsFinanceGpsCheck(item)"
                               ng-disabled="editable==false"
                               ng-model="item.isFinanceGps">是否融
                    </span>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label  class="col-sm-4 control-label">GPS价格：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="number" class="form-control input-sm"  ng-model="item.gpsFee" disabled>
                    <span class="input-group-addon">
                        <input type="checkbox" ng-click="onIsFinanceGpsCheck(item)"
                               ng-disabled="editable==false"
                               ng-model="item.isFinanceGps">是否融
                    </span>
                </div>
                <!--
                <p class="form-control-static">{{item.gpsFee}}</p>
                -->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label class="col-sm-4 control-label">购置税：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="number" class="form-control input-sm"  ng-model="item.purchaseTax"
                           ng-disabled="item.isPurchaseTax ==false || item.isPurchaseTax ==undefined || editable==false"
                           ng-required="requiredMap.purchaseTax"
                           placeholder="购置税">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-click="item.purchaseTax=0" ng-disabled="editable==false|| applyInfo.product.productRule.hasPurchaseTax!=true " ng-model="item.isPurchaseTax">是否融
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label  class="col-sm-4 control-label">服务费：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text"  class="form-control input-sm"  ng-model="item.serviceFee"
                           verify-service-fee="applyInfo.product.productRule" sale-price="item.salePrice"
                           ng-disabled="item.isServiceFee==false || item.isServiceFee == undefined || editable==false"
                           ng-required="requiredMap.serviceFee"
                           placeholder="服务费">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-click="item.isServiceFee?item.serviceFee='':item.serviceFee=0" ng-disabled="editable==false  || applyInfo.product.productRule.enabledServiceFee!=true "  ng-model="item.isServiceFee">是否融
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label   class="col-sm-4 control-label">保险费：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text"  class="form-control input-sm"  ng-model="item.insuranceFee"
                           verify-insurance-fee="applyInfo.product.productRule"
                           sale-price="item.salePrice"
                           purchase-tax="item.purchaseTax"
                           ng-required="requiredMap.insuranceFee"
                           ng-disabled="item.isInsuranceFee==false || item.isInsuranceFee == undefined || editable ==false" placeholder="保险费">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-click="item.isInsuranceFee?item.insuranceFee='':item.insuranceFee=0" ng-disabled="editable==false  || applyInfo.product.productRule.enabledInsuranceFee!=true " ng-model="item.isInsuranceFee">是否融
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label   class="col-sm-4 control-label">延保费：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text"  class="form-control input-sm"  ng-model="item.delayInsuranceFee"
                           verify-delay-insurance-fee="applyInfo.product.productRule"
                           ng-disabled="item.isDelayInsuranceFee==false || item.isDelayInsuranceFee == undefined || editable==false"
                           ng-required="requiredMap.delayInsuranceFee"
                           placeholder="延保费">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-click="item.isDelayInsuranceFee?item.delayInsuranceFee='':item.delayInsuranceFee=0" ng-disabled="editable==false|| applyInfo.product.productRule.enabledDelayInsuranceFee!=true"  ng-model="item.isDelayInsuranceFee">是否融
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label   class="col-sm-4 control-label">过户费：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text"  class="form-control input-sm"  ng-model="item.transferFee"
                           verify-transfer-fee="applyInfo.product.productRule"
                           ng-disabled="item.isTransferFee==false || item.isTransferFee == undefined||eidtable==false"
                           ng-required="requiredMap.transferFee"
                           placeholder="过户费">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-click="item.isTransferFee?item.transferFee='':item.transferFee=0" ng-disabled="editable==false|| applyInfo.product.productRule.enabledTransferFee!=true" ng-model="item.isTransferFee">是否融
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label   class="col-sm-4 control-label">加装费：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text"  class="form-control input-sm"  ng-model="item.addonFee"
                           verify-addon-fee="applyInfo.product.productRule"
                           ng-disabled="item.isAddonFee==false || item.isAddonFee == undefined||editable==false"
                           ng-required="requiredMap.addonFee"
                           placeholder="加装费">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-click="item.isAddonFee?item.addonFee='':item.addonFee=0" ng-disabled="editable==false|| applyInfo.product.productRule.enabledAddonFee!=true" ng-model="item.isAddonFee">是否融
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label   class="col-sm-4 control-label">车辆颜色：</label>
            <div class="col-sm-8">
                <input type="text"  class="form-control input-sm"  ng-disabled="editable==false" verify-chn=""
                       ng-required="requiredMap.carColor"  ng-model="item.carColor"  placeholder="车辆颜色">
            </div>
        </div>
    </div>
    <div class="col-md-4" ng-if="false">
        <div class="form-group form-group-sm">
            <label  class="col-sm-4 control-label">生产商：</label>
            <div class="col-sm-8">
                <input type="text"  class="form-control input-sm" ng-disabled="editable==false"  ng-model="item.carManu" ng-required="requiredMap.carManu"   placeholder="生产商">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label  class="col-sm-4 control-label">车架号：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control input-sm" ng-disabled="editable==false"  verify-number-char="" ng-minlength="17" ng-maxlength="17" ng-model="item.carVin" ng-required="requiredMap.carVin"   placeholder="车架号">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label  class="col-sm-4 control-label">发动机号：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control input-sm" ng-disabled="editable==false" verify-all-char=""  ng-model="item.carEngineNo" ng-required="requiredMap.carEngineNo"  placeholder="发动机号">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label  class="col-sm-4 control-label">售价/评估价：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control input-sm" ng-disabled="true" verify-amount-p ng-model="item.assessPrice"  ng-required="requiredMap.assessPrice"  placeholder="售价/评估价">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
        <label  class="col-sm-4 control-label">保证金：</label>
        <div class="col-sm-8">
            <input type="text" class="form-control input-sm" ng-disabled="editable==false"  verify-amount-p  ng-model="item.collateral"  ng-required="requiredMap.collateral" placeholder="保证金">
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label  class="col-sm-4 control-label">评估费：</label>
            <div class="col-sm-8">
                <select  class="form-control"  ng-model="item.assessFee" ng-required="requiredMap.assessFee"
                         ng-disabled="editable==false || applyInfo.product.productRule.enableAssessFee == false"
                         ng-options="o.key as o.val for o in [{key:0,val:'0'},{key:300,val:'300元'}]">
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label  class="col-sm-4 control-label">融资金额：</label>
            <div class="col-sm-8">
                <input type="number" class="form-control input-sm"  ng-model="item.financeAmount" disabled placeholder="融资金额">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group form-group-sm">
            <label  class="col-sm-4 control-label">融资手续费：</label>
            <div class="col-sm-8">
                <input type="number" class="form-control input-sm"  ng-model="item.financeFee" disabled placeholder="融资手续费">
            </div>
        </div>
    </div>
</div>