<!--融资信息-->
<div ng-repeat="item in applyInfo.finances">
    <fieldset class="scheduler-border" ng-if="item.select==true">
        <legend class="scheduler-border">融资信息{{item.seq | simpleChnUpperCase}}
            <button class="btn  btn-link" type="button" ng-disabled="editable==false"  ng-click="deActiveFinance(item)" ng-if="item.select==true && item.seq !=1"><i class="fa fa-trash fa-lg m-r-sm" style="color: red"></i></button>
        </legend>
        <div ng-if="item.select==false">
            <button class="btn btn-link btn-lg m-t-md" ng-disabled="editable==false" type="button" ng-click="activeFinance(item)"><i class="fa fa-plus-square-o  fa-2x m-r-sm" style="color: green"></i></button>
        </div>
        <div ng-if="item.select==true">
            <div ng-include="'module_apply/tpl/form-apply-financeinfo-common.html'"></div>
        </div>
    </fieldset>
</div>
