<!--申请信息-->
<fieldset class="scheduler-border">
    <legend class="scheduler-border">申请信息</legend>
    <div class="row m-t-md">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label for="product" class="col-sm-4 control-label">融资产品：</label>
                <div class="col-sm-8">
                    <select id="product" class="form-control" ng-model="applyInfo.product"
                            ng-options="item.productName for item in productList" required >
                        <option value="">请选择产品</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label for="repayMode" class="col-sm-4 control-label">还款方式：</label>
                <div class="col-sm-8">
                    <select id="repayMode" class="form-control" ng-model="applyInfo.product.repayMode"
                            ng-options="item.dictDataCode as item.dictDataName for item in repayModeList" required disabled>
                        <option value="">请选择还款方式</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label for="period" class="col-sm-4 control-label">融资期限：</label>
                <div class="col-sm-8">
                    <select id="period" class="form-control" ng-model="applyInfo.period"
                            ng-options="item.period as (item.period+'期') for item in applyInfo.product.productPeriodList" required>
                        <option value="">请选择融资期限</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group form-group-sm">
                <label for="comment" class="col-sm-2 control-label">申请备注：</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" id="comment" ng-model="applyInfo.comment" placeholder="申请备注"></textarea>
                </div>
            </div>
        </div>
    </div>
</fieldset>