<!--承租人信息（基本信息）-->
<fieldset class="scheduler-border"  ng-disabled="approveEditable==false">
    <legend class="scheduler-border">承租人信息（基本信息）</legend>
    <div class="row  m-t-md">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-disabled="editable==false" verify-chn-name="" ng-model="applyInfo.tenant.name"  ng-required="requiredMap.tenantName"  placeholder="姓名">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label for="idType" class="col-sm-4 control-label">证件类型：</label>
                <div class="col-sm-8">
                    <select id="idType" class="form-control" ng-model="applyInfo.tenant.idType"
                            ng-disabled="editable==false"
                            ng-options="item.dictDataCode as item.dictDataName for item in idTypeList" ng-required="requiredMap.tenantIdType" >
                        <option value="">请选择证件</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label for="idNo" class="col-sm-4 control-label">证件号码：</label>
                <div class="col-sm-8">
                    <input type="text" id="idNo" minlength="15" maxlength="18" ng-disabled="editable==false" verify-idno class="form-control" ng-required="requiredMap.tenantIdNo" ng-model="applyInfo.tenant.idNo"  ng-blur="inputIdNoComplete()" placeholder="证件号码">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">年龄：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"   ng-model="applyInfo.tenant.age" placeholder="年龄" disabled>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label  class="col-sm-4 control-label">性别：</label>
                <div class="col-sm-8">
                    <select id="sex" class="form-control" ng-model="applyInfo.tenant.sex"
                            ng-options="item.dictDataCode as item.dictDataName for item in sexList" disabled >
                        <option value="">请选择性别</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">生日：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyInfo.tenant.birthday|mysqlDate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label for="nation" class="col-sm-4 control-label">民族：</label>
                <div class="col-sm-8">
                    <select id="nation" class="form-control" ng-model="applyInfo.tenant.nation"
                            ng-disabled="editable==false"
                            ng-options="item.dictDataCode as item.dictDataName for item in nationList"  ng-required="requiredMap.nation">
                        <option value="">请选择民族</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">手机号码1：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-disabled="editable==false" minlength="11" maxlength="11" verify-mobile ng-required="requiredMap.mobile" ng-model="applyInfo.tenant.mobile" placeholder="手机号码1">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">手机号码2：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-disabled="editable==false" minlength="11" maxlength="11"  verify-mobile2="applyInfo.tenant.mobile" ng-required="requiredMap.mobile2" ng-model="applyInfo.tenant.mobile2" placeholder="手机号码2">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">QQ号码(如有)：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-disabled="editable==false" verify-number="" ng-model="applyInfo.tenant.qq" ng-required="requiredMap.qq" placeholder="QQ号码">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">微信(如有)：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-disabled="editable==false" verify-all-char="" ng-model="applyInfo.tenant.weixin" ng-required="requiredMap.weixin" placeholder="微信(如有)">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">学历：</label>
                <div class="col-sm-8" >
                    <select id="education" class="form-control" ng-model="applyInfo.tenant.education"
                            ng-disabled="editable==false"
                            ng-options="item.dictDataCode as item.dictDataName for item in educationList"  ng-required="requiredMap.education">
                        <option value="">请选择学历</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">婚姻状况：</label>
                <div class="col-sm-8 text-left">
                    <select id="marryStatus" class="form-control" ng-model="applyInfo.tenant.marryStatus"
                            ng-disabled="editable==false"
                            ng-options="item.dictDataCode as item.dictDataName for item in marryStatusList" ng-required="requiredMap.marryStatus">
                        <option value="">请选择婚姻状况</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">来本地时长：</label>
                <div class="col-sm-8 text-left">
                    <select id="liveTime" class="form-control" ng-model="applyInfo.tenant.liveTime"
                            ng-disabled="editable==false"
                            ng-options="item.dictDataCode as item.dictDataName for item in liveTimeList"  ng-required="requiredMap.liveTime">
                        <option value="">请选择来本地时长</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">家庭成员：</label>
                <div class="col-sm-8 text-left">
                    <ui-multiselect choices="familyMemberList"
                                    ng-disabled="editable==false"
                                    ng-model="applyInfo.tenant.familyMember"
                                    track-by="dictDataCode"
                                    show-field="dictDataName"
                                    model-format="string"
                                    ng-required="requiredMap.familyMember"
                                    on-item-click="familySelect"
                                    placeholder="家庭成员">
                        <span>{{item.dictDataName}}</span>
                    </ui-multiselect>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label for="childCount" class="col-sm-4 control-label">子女数量：</label>
                <div class="col-sm-8">
                    <select id="childCount" class="form-control" ng-model="applyInfo.tenant.childCount" ng-required="requiredMap.childCount"
                            ng-disabled="editable==false"
                            ng-options="o.key as o.val for o in [{key:0,val:'0'},{key:1,val:'1'},{key:2,val:'2'},{key:3,val:'3'},{key:4,val:'4'},{key:5,val:'5'}]">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">驾照类型：</label>
                <div class="col-sm-8">
                    <select id="driverLicenseType" class="form-control" ng-model="applyInfo.tenant.driverLicenseType"
                            ng-disabled="editable==false"
                            ng-options="item.dictDataCode as item.dictDataName for item in driverLicenseTypeList" ng-required="requiredMap.driverLicenseType">
                        <option value="">请选择来驾照类型</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">驾照发证日期：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" id="driverLicenseDate" class="form-control" uib-datepicker-popup
                               ng-disabled="editable==false || applyInfo.tenant.driverLicenseType =='jzlx04'"
                               ng-required="requiredMap.driverLicenseDate"
                               datepicker-options="driverLicenseDateOptions"
                               is-open="applyInfo.tenant.isOpenDriverLicenseDate" ng-model="applyInfo.tenant.driverLicenseDate" >
                        <span class="input-group-btn">
                            <button type="button" class="form-control btn btn-default" ng-disabled="editable==false"  ng-click="applyInfo.tenant.isOpenDriverLicenseDate=!applyInfo.tenant.isOpenDriverLicenseDate" ><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">现详细住址：</label>
                <div class="col-sm-2">
                    <select  class="form-control"  ng-model="applyInfo.tenant.addrProvince"
                             ng-disabled="editable==false"
                             ng-options="item.id as item.areaName for item in provinceList"
                             ng-required="requiredMap.addrProvince"
                            ng-change="addressCtrl.onTenantProvinceChange()">
                        <option value="">省</option>
                    </select>
                </div>
                <div class="col-sm-2" >
                    <select  class="form-control"  ng-model="applyInfo.tenant.addrCity"
                             ng-disabled="editable==false"
                             ng-options="item.id as item.areaName for item in tenantCityList"
                             ng-required="requiredMap.addrCity"
                            ng-change="addressCtrl.onTenantCityChange()">
                        <option value="">市</option>
                    </select>
                </div>
                <div class="col-sm-2" >
                    <select  class="form-control"  ng-model="applyInfo.tenant.addrCounty"
                             ng-disabled="editable==false"
                             ng-required="requiredMap.addrCounty"
                             ng-options="item.id as item.areaName for item in tenantCountyList">
                        <option value="">县</option>
                    </select>
                </div>
                <div class="col-sm-4" >
                    <input type="text" class="form-control" ng-disabled="editable==false" ng-required="requiredMap.addrExt" ng-model="applyInfo.tenant.addrExt" placeholder="详细地址">
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">住所权属：</label>
                <div class="col-sm-8 text-left">
                    <select id="houseOwner" class="form-control" ng-model="applyInfo.tenant.houseOwner"
                            ng-disabled="editable==false"
                            ng-options="item.dictDataCode as item.dictDataName for item in houseOwnerList"  ng-required="requiredMap.houseOwner">
                        <option value="">请选择住所权属</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">同住人：</label>
                <div class="col-sm-8 text-left">
                    <ui-multiselect choices="houseMateList"
                                    ng-disabled="editable==false"
                                    ng-model="applyInfo.tenant.houseMate"
                                    track-by="dictDataCode"
                                    show-field="dictDataName"
                                    model-format="string"
                                    ng-required="requiredMap.houseMate"
                                    placeholder="请选择同住人">
                        <span>{{item.dictDataName}}</span>
                    </ui-multiselect>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">户籍所属：</label>
                <div class="col-sm-8 text-left">
                    <select id="houseHold" class="form-control" ng-model="applyInfo.tenant.houseHold"
                            ng-disabled="editable==false"
                            ng-options="item.dictDataCode as item.dictDataName for item in houseHoldList" ng-required="requiredMap.houseHold">
                        <option value="">请选择户籍所属</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div  ng-repeat="item in applyInfo.tenant.tenantHouses">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">房产{{item.seq | simpleChnUpperCase}}住址：</label>
                    <div class="col-sm-2">
                        <select  class="form-control"  ng-model="item.addrProvince"
                                 ng-disabled="editable==false"
                                 ng-options="item.id as item.areaName for item in provinceList"
                                 ng-required="requiredMap.tenantHouses_addrProvince"
                                 ng-change="addressCtrl.onCommonProvinceChange(item)">
                            <option value="">省</option>
                        </select>
                    </div>
                    <div class="col-sm-2" >
                        <select  class="form-control"  ng-model="item.addrCity"
                                 ng-disabled="editable==false"
                                 ng-options="item.id as item.areaName for item in item.cityList"
                                 ng-required="requiredMap.tenantHouses_addrCity"
                                 ng-change="addressCtrl.onCommonCityChange(item)">
                            <option value="">市</option>
                        </select>
                    </div>
                    <div class="col-sm-2" >
                        <select  class="form-control"  ng-model="item.addrCounty"
                                 ng-disabled="editable==false"
                                 ng-options="item.id as item.areaName for item in item.countyList"
                                 ng-required="requiredMap.tenantHouses_addrCounty">
                            <option value="">县</option>
                        </select>
                    </div>
                    <div class="col-sm-4" >
                        <input type="text" class="form-control" ng-disabled="editable==false" ng-model="item.addrExt" ng-required="requiredMap.tenantHouses_addrExt" placeholder="详细地址">
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 control-label">状态：</label>
                    <div class="col-sm-8 text-left">
                        <select id="status" class="form-control" ng-model="item.status"
                                ng-disabled="editable==false"
                                ng-options="item.dictDataCode as item.dictDataName for item in houseStatusList" ng-required="requiredMap.tenantHouses_status">
                            <option value="">请选择房产状态</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 control-label">面积：</label>
                    <div class="col-sm-8">
                        <input type="number" step="0.01" class="form-control" ng-disabled="editable==false" ng-model="item.area" ng-required="requiredMap.area" placeholder="面积">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 control-label">贷款金额：</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" ng-disabled="editable==false" ng-model="item.loanAmount" ng-required="requiredMap.loanAmount" placeholder="贷款金额">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 control-label">余额:</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" ng-disabled="editable==false" ng-model="item.loanBalance" ng-required="requiredMap.loanBalance" placeholder="余额">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 control-label">月供：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-disabled="editable==false" ng-model="item.monthRent" ng-required="requiredMap.monthRent" placeholder="月供">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">补充说明：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-disabled="editable==false" ng-model="item.comment" ng-required="requiredMap.comment" placeholder="补充说明">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="item in applyInfo.tenant.tenantCars">
        <div class="row" >
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 control-label">车产{{item.seq | simpleChnUpperCase}}车型：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-disabled="editable==false" ng-model="item.carBrand" ng-required="requiredMap.tenantCars_carBrand" placeholder="车产一车型">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 control-label">车产{{item.seq | simpleChnUpperCase}}车牌：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-disabled="editable==false" ng-model="item.carDetail"  ng-required="requiredMap.tenantCars_carDetail" placeholder="车产一车牌">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 control-label">车产{{item.seq | simpleChnUpperCase}}状态：</label>
                    <div class="col-sm-8" >
                        <select  class="form-control" ng-model="item.carStatus"
                                 ng-disabled="editable==false"
                                 ng-required="requiredMap.tenantCars_carStatus"
                                 ng-options="item.dictDataCode as item.dictDataName for item in carStatusList" >
                            <option value="">请选择车产状态</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 control-label">新车上牌日期：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" id="registerDate" class="form-control" uib-datepicker-popup
                                   ng-disabled="editable==false"
                                   ng-required="requiredMap.registerDate"
                                   is-open="item.isOpenDriverLicenseDate" ng-model="item.registerDate" >
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-disabled="editable==false"  ng-click="item.isOpenDriverLicenseDate=!item.isOpenDriverLicenseDate" ><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 control-label">贷款金额：</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" ng-disabled="editable==false" ng-model="item.loanAmount" ng-required="requiredMap.loanAmount" placeholder="贷款金额">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 control-label">余额:</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" ng-disabled="editable==false" ng-model="item.loanBalance" ng-required="requiredMap.loanBalance" placeholder="余额">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 control-label">月供：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-disabled="editable==false" ng-model="item.monthRent" ng-required="requiredMap.monthRent" placeholder="月供">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">补充说明：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-disabled="editable==false" ng-model="item.comment" ng-required="requiredMap.comment" placeholder="补充说明">
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<!--承租人信息（工作及收入信息）-->
<fieldset class="scheduler-border" ng-disabled="approveEditable==false">
    <legend class="scheduler-border">承租人信息（工作及收入信息）</legend>
    <div class="row m-t-md">
        <div class="col-md-8">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">单位名称：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-disabled="editable==false" ng-model="applyInfo.tenant.unitName" verify-unitname=""  ng-required="requiredMap.tenant_unitName" placeholder="单位名称">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">单位类型：</label>
                <div class="col-sm-8">
                    <select id="unitType" class="form-control" ng-model="applyInfo.tenant.unitType"
                            ng-disabled="editable==false"
                            ng-required="requiredMap.tenant_unitType"
                            ng-change="unitRankCtrl.onTenantUnitTypeChange()"
                            ng-options="item.dictDataCode as item.dictDataName for item in unitTypeList">
                        <option value="">请选择单位类型</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">所属行业：</label>
                <div class="col-sm-8">
                    <select id="unitIndustry" class="form-control" ng-model="applyInfo.tenant.unitIndustry"
                            ng-disabled="editable==false"
                            ng-required="requiredMap.tenant_unitIndustry"
                            ng-options="item.dictDataCode as item.dictDataName for item in unitIndustryList" >
                        <option value="">请选择所属行业</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">单位电话：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-disabled="editable==false" verify-number="" ng-model="applyInfo.tenant.unitTel"  ng-required="requiredMap.tenant_unitTel" placeholder="单位电话">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">职  级：</label>
                <div class="col-sm-8">
                    <select id="rank" class="form-control" ng-model="applyInfo.tenant.rank"
                            ng-disabled="editable==false"
                            ng-options="item.dictDataCode as item.dictDataName for item in tenantRankList"
                            ng-required="requiredMap.tenant_rank">
                        <option value="">请选择所属职级</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">职位名称：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-disabled="editable==false"  verify-chn ng-model="applyInfo.tenant.ranName"  ng-required="requiredMap.tenant_ranName" placeholder="职位名称">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">月收入：</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" ng-disabled="editable==false" verify-amount-p="" ng-model="applyInfo.tenant.montyIncome" ng-required="requiredMap.tenant_montyIncome" placeholder="月收入">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">年收入：</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" ng-disabled="editable==false"  verify-amount-p="" ng-model="applyInfo.tenant.yearIncome" ng-required="requiredMap.tenant_yearIncome" placeholder="年收入">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">单位地址：</label>
                <div class="col-sm-2">
                    <select  class="form-control"  ng-model="applyInfo.tenant.unitAddrProvince"
                             ng-disabled="editable==false"
                             ng-options="item.id as item.areaName for item in provinceList"
                             ng-required="requiredMap.tenant_unitAddrProvince"
                             ng-change="addressCtrl.onTenantUnitProvinceChange()">
                        <option value="">省</option>
                    </select>
                </div>
                <div class="col-sm-2" >
                    <select  class="form-control"  ng-model="applyInfo.tenant.unitAddrCity"
                             ng-disabled="editable==false"
                             ng-options="item.id as item.areaName for item in tenantUnitCityList"
                             ng-required="requiredMap.tenant_unitAddrCity"
                             ng-change="addressCtrl.onTenantUnitCityChange()">
                        <option value="">市</option>
                    </select>
                </div>
                <div class="col-sm-2" >
                    <select  class="form-control"  ng-model="applyInfo.tenant.unitAddrCounty"
                             ng-disabled="editable==false"
                             ng-required="requiredMap.tenant_unitAddrCounty"
                             ng-options="item.id as item.areaName for item in tenantUnitCountyList">
                        <option value="">县</option>
                    </select>
                </div>
                <div class="col-sm-4" >
                    <input type="text" class="form-control" ng-disabled="editable==false" ng-model="applyInfo.tenant.unitAddrExt"  ng-required="requiredMap.tenant_unitAddrExt" placeholder="详细地址">
                </div>
            </div>
        </div>
    </div>
</fieldset>