<form name="form">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>请输入订单明细</h4>
    </div>
    <div class="modal-body">
        <div flex-container="column" class="ml++ mr++ pt-">
            <lx-select
                    name="jxs"
                    ng-model="orderDetail.jxsId"
                    lx-choices="jxs"
                    lx-allow-clear="true"
                    lx-label="选择经销商"
                    lx-multiple="false"
                    lx-display-filter="true"
                    lx-error="form.jxs.$invalid"
                    required
                    >
                <lx-select-selected required>
                    {{ $selected.branchname }}
                </lx-select-selected>
                <lx-select-choices>
                    {{ $choice.branchname }}
                </lx-select-choices>
            </lx-select>
            <lx-text-field lx-label="经销商地址" lx-allow-clear="true" lx-valid="form.address.$valid"
                           lx-error="form.address.$invalid">
                <input type="text" name="address" ng-model="orderDetail.address" required>
            </lx-text-field>
            <lx-text-field lx-label="联系人" lx-allow-clear="true" lx-valid="form.linkman.$valid"
                           lx-error="form.linkman.$invalid">
                <input type="text" name="linkman" ng-model="orderDetail.linkman" required>
            </lx-text-field>
            <lx-text-field lx-label="联系电话" lx-allow-clear="true" lx-valid="form.mobile.$valid"
                           lx-error="form.mobile.$invalid">
                <input type="text" name="mobile" ng-model="orderDetail.mobile" required>
            </lx-text-field>
            <lx-select
                    name="factory"
                    ng-model="orderDetail.factoryId"
                    lx-choices="factory"
                    lx-allow-clear="true"
                    lx-label="选择GPS供应商"
                    lx-multiple="false"
                    lx-display-filter="true"
                    lx-error="form.factory.$invalid"
                    required
                    >
                <lx-select-selected required>
                    {{ $selected.branchname }}
                </lx-select-selected>
                <lx-select-choices>
                    {{ $choice.branchname }}
                </lx-select-choices>
            </lx-select>
            <lx-text-field lx-label="采购数量" lx-allow-clear="true" lx-valid="form.number.$valid"
                           lx-error="form.number.$invalid">
                <input type="text" name="number" ng-model="orderDetail.number" required>
            </lx-text-field>
        </div>
    </div>
    <div class="modal-footer">
        <lx-button  ng-click="ok()" ng-disabled="form.$invalid" lx-color="green">确定</lx-button>
        <lx-button  ng-click="cancel()" lx-color="grey">关闭</lx-button>
    </div>
</form>

