<fieldset class="scheduler-border">
    <legend class="scheduler-border">应还信息</legend>
    <div class="row m-t-md">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">应还本金：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyPublicRepayVo.feeItem.repayCapital}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">应还利息：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyPublicRepayVo.feeItem.repayInterest}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">应还罚息：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyPublicRepayVo.feeItem.repayOverdueAmount}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">其他费用：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyPublicRepayVo.feeItem.otherAmount}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">其他费用罚息：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyPublicRepayVo.totalRepayAmount}}</p>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">还款信息</legend>
    <div class="row m-t-md">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label  class="col-sm-4 control-label">应还总额：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyPublicRepayVo.totalRepayAmount}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">还款金额：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="applyPublicRepayVo.chargeAmount" required
                           placeholder="还款金额">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">还款日期：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyPublicRepayVo.chargeDate | mysqlDate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">申请备注：</label>
                <div class="col-sm-10">
                    <textarea  type="text" class="form-control" id="comment" ng-model="applyPublicRepayVo.applyComment" placeholder="申请备注" ></textarea>
                </div>
            </div>
        </div>
    </div>
</fieldset>