<form name="form" class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>初始化年份周末</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="year" class="col-sm-3 control-label">年份：</label>
            <div class="col-sm-8">
                <select id="year" class="form-control" ng-model="item.year" required>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-disabled="form.$invalid" ng-click="ok()">确定</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>