<form name="form" class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>新增节假日</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="holidayDate" class="col-sm-3 control-label">日期：</label>
            <div class="col-sm-8">
                <p class="input-group">
                    <input type="text" id="holidayDate" class="form-control m-b-sm m-r-xs" uib-datepicker-popup="yyyy-MM-dd" required
                           placeholder="申请开始日期"
                           is-open="isopenHolidayDateDate"
                           ng-model="item.holidayDate" >
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default m-b-ms"   ng-click="isopenHolidayDateDate=!isopenHolidayDateDate" ><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="holidayDesc" class="col-sm-3 control-label">节假日描述：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="holidayDesc" placeholder="字段页面ID" ng-model="item.holidayDesc" required>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">确定</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>