<form name="form" class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>编辑银行账号</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="purpose" class="col-sm-3 control-label">账号用途：</label>
            <div class="col-sm-8">
                <select id="purpose" class="form-control" ng-model="item.purpose"
                        ng-options="item.dictDataCode as item.dictDataName for item in acctPurposeList" required>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="bankId" class="col-sm-3 control-label">入账银行：</label>
            <div class="col-sm-8">
                <select  class="form-control" id="bankId"  ng-model="item.bankId"  ng-options="l.id as l.bankName for l in bankList"  required >
                    <option value="">请选择</option>`
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="subbranchName" class="col-sm-3 control-label">支行名称：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="subbranchName" placeholder="支行名称" ng-model="item.subbranchName" >
            </div>
        </div>
        <div class="form-group">
            <label for="acctNo" class="col-sm-3 control-label">账号：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="acctNo" placeholder="账号" ng-model="item.acctNo" >
            </div>
        </div>
        <div class="form-group">
            <label for="acctName" class="col-sm-3 control-label">户名：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="acctName" placeholder="户名" ng-model="item.acctName" >
            </div>
        </div>
        <div class="form-group">
            <label for="enabled" class="col-sm-3 control-label">是否启用：</label>
            <div class="col-sm-8">
                <select  class="form-control" id="enabled"  ng-model="item.enabled" ng-options="o.key as o.val for o in [{key:true,val:'是'},{key:false,val:'否'}]" required >
                    <option value="">是否启用</option>`
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">确定</button>
        <button class="btn btn-danger  btn-modal-left" type="button" ng-click="delete()">删除</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>