<form name="form" class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>选择角色功能</h4>
    </div>
    <div class="modal-body" style="overflow-y: auto;max-height: 700px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ui-tree tree-data="sysMenuTree" label="menuName"  checked="true" on-select="select($item)"></ui-tree>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">确定</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>