<div ng-init="init()">
    <div class="c_box">
        <div class="c_left_box">
            <div class="panel_main">
                <div class="panel-header">
                    <div class="panel-header-wrapper">
                        <h2 class="panel-header-title">数据字典类型</h2>
                    </div>
                </div>
                <div class="data-table-container">
                    <header class="data-table-header">
                        <div class="data-table-header__label">
                            <span class="fs-title"></span>
                        </div>
                        <div class="data-table-header__actions">
                            <button class="btn btn-m btn-default" type="button" ng-click="addSysDictType()"><i class="fa fa-plus m-r-sm"></i>增加类型</button>
                        </div>
                    </header>
                </div>
                <div>
                    <tree tree-data="sysDictTypeTree" can-checked="false" name-field="dictTypeName"></tree>
                </div>
            </div>
        </div>
        <div class="c_right_box">
            <div class="panel_main">
                <div class="panel-header">
                    <div class="panel-header-wrapper">
                        <h2 class="panel-header-title">数据字典明细</h2>
                    </div>
                </div>
                <div class="data-table-container">
                    <header class="data-table-header">
                        <div class="data-table-header__label">
                            <span class="fs-title">{{selNode.dictTypeName}}</span>
                            <button class="btn btn-m btn-default" type="button" ng-click="editSysDictType()"><i class="fa fa-edit m-r-sm"></i>编辑类型</button>
                        </div>
                        <div class="data-table-header__actions">
                            <button class="btn btn-m btn-default" type="button" ng-click="addSysDictData()"><i class="fa fa-plus m-r-sm"></i>增加明细</button>
                        </div>
                    </header>
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th>显示序号</th>
                            <th>数据编码</th>
                            <th>数据名称</th>
                            <th>是否启用</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in sysDictDatas">
                            <td>{{item.showSeq}}</td>
                            <td>{{item.dictDataCode}}</td>
                            <td>{{item.dictDataName}}</td>
                            <td>
                                <input type="checkbox" ng-model="item.enabled"  ng-click="modifyDictDataStatus(item)" ng-checked="item.enabled==1">是否启用
                            </td>
                            <td>
                                <a href="javascript:" ng-click="modifyDictData(item)">编辑</a>
                                <a href="javascript:" ng-click="deleteDictData(item.id)">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="has-divider has-divider--dark"></div>
                    <div class="toolbar" ng-if="false">
                        <div class="toolbar__left mr++">
                    <span ng-if="paginationInfo.totalItem==0">
                        无查询结果
                    </span>
                        </div>
                <span class="toolbar__label fs-title">

                </span>
                        <div class="toolbar__right" ng-if="paginationInfo.totalItem>0">
                            <div class="mr+++">
                    <span>
                        总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
                            </div>
                            <div>
                                <uib-pagination boundary-links="true" total-items="paginationInfo.totalItem"
                                                ng-model="paginationInfo.curPage"
                                                items-per-page="paginationInfo.pageSize" ng-change="pageChanged()"
                                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                                last-text="&raquo;">
                                </uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
