<div ng-init="initApprove()">
    <div class="check-header">
        <div class="data-table-container" >
            <header class="data-table-header" style="min-height:72px !important;">
                <div class="data-table-header__label">
                    <span class="fs-title"><i class="fa fa-tasks mr"></i>任务名称：{{task.name}}-{{applyInfo.appId}}</span>
                </div>
                <div class="data-table-header__actions">
                    <button class="btn btn-danger btn-sm" type="button"  ng-click="backTask(taskId)"><i class="glyphicon glyphicon-arrow-left m-r-sm"></i>退回任务</button>
                    <button class="btn btn-success btn-sm" type="button" ng-disabled="form.$invalid"    ng-click="commitApproveTask()"><i class="fa fa-check m-r-sm"></i>提交任务</button>
                    <button class="btn btn-default btn-sm" type="button"  ng-click="back()"><i class="fa fa-level-up m-r-sm"></i>返回上级</button>
                </div>
            </header>
        </div>
    </div>
    <ng-form  name="form" novalidate ng-cloak="">
        <div class="check-body">
            <uib-tabset>
                <uib-tab index="0">
                    <uib-tab-heading>
                        <span>申请信息</span>
                    </uib-tab-heading>
                    <div class="data-table-container" >
                        <header class="data-table-header" style="min-height:48px !important;">
                            <div class="data-table-header__label">
                            </div>
                            <div class="data-table-header__actions">
                                <button class="btn btn-info btn-sm" type="button" ng-click="saveApplyInfo()"><i class="fa fa-save m-r-sm"></i>保存申请单</button>
                            </div>
                        </header>
                    </div>
                    <div fix-div offset-y="240">
                        <div  ng-include="'module_apply/tpl/form-apply-notfix-notnew.html'"/>
                        <form class=" container-fluid form-horizontal ">
                            <fieldset class="scheduler-border" disabled>
                                <legend class="scheduler-border">审核信息</legend>
                                <div class="row m-t-md">
                                    <div class="col-md-3">
                                        <div class="form-group form-group-sm">
                                            <label for="checkType" class="col-sm-4 control-label">审核结果：</label>
                                            <div class="col-sm-8">
                                                <select id="checkType" class="form-control" ng-model="checkVo.result" required
                                                        ng-options="item.dictDataCode as item.dictDataName for item in checkList" >
                                                    <option value="">请选择审核结果</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-if="checkVo.result=='tjlx102'">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-sm">
                                            <label for="loanExtConditon" class="col-sm-1 control-label">放款附加条件：</label>
                                            <div class="col-sm-11">
                                                <textarea type="text" class="form-control" id="loanExtConditon" ng-model="checkVo.loanExtConditon" placeholder="放款附加条件" required ng-required="checkVo.result=='tjlx102'"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-if="checkVo.result=='tjlx104'">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-sm">
                                            <label for="rejectReason" class="col-sm-1 control-label">拒绝原因：</label>
                                            <div class="col-sm-11">
                                                <select id="rejectReason" class="form-control" ng-model="checkVo.rejectReason" required
                                                        ng-options="item.dictDataName as item.dictDataName for item in checkRejectReasonList" >
                                                    <option value="">请选择拒绝原因</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-if="checkVo.result=='tjlx103'">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-sm">
                                            <label for="cancelReason" class="col-sm-1 control-label">取消原因：</label>
                                            <div class="col-sm-11">
                                                <select id="cancelReason" class="form-control" ng-model="checkVo.cancelReason" required
                                                        ng-options="item.dictDataName as item.dictDataName for item in checkCancelReasonList" >
                                                    <option value="">请选择取消原因</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-sm">
                                            <label for="comment" class="col-sm-1 control-label">审核备注：</label>
                                            <div class="col-sm-11">
                                                <textarea type="text" class="form-control" id="comment" ng-model="checkVo.comment" placeholder="审核备注"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sm">
                                            <label for="netCheckResult" class="col-sm-2 control-label">网查结果：</label>
                                            <div class="col-sm-10">
                                                <select id="netCheckResult" class="form-control" ng-model="checkVo.netCheckResult"
                                                        ng-options="item.dictDataCode as item.dictDataName for item in netCheckResultList">
                                                    <option value="">请选择网查结果</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sm">
                                            <label for="netCheckNotPassReason" class="col-sm-2 control-label">网查未通过原因：</label>
                                            <div class="col-sm-10">
                                                <select id="netCheckNotPassReason" class="form-control" ng-model="checkVo.netCheckNotPassReason"
                                                        ng-options="item.dictDataCode as item.dictDataName for item in netCheckNotPassReasonList"  >
                                                    <option value="">请选择网查未通过原因</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-sm">
                                            <label for="netCheckComment" class="col-sm-1 control-label">网查备注：</label>
                                            <div class="col-sm-11">
                                                <textarea type="text" class="form-control" id="netCheckComment" ng-model="checkVo.netCheckComment" placeholder="网查备注"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sm">
                                            <label for="telCheckResult" class="col-sm-2 control-label">电审结果：</label>
                                            <div class="col-sm-10">
                                                <select id="telCheckResult" class="form-control" ng-model="checkVo.telCheckResult"
                                                        ng-options="item.dictDataCode as item.dictDataName for item in telCheckResultList">
                                                    <option value="">请选择电审结果</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-sm">
                                            <label for="telCheckNotPassReason" class="col-sm-2 control-label">电审未通过原因：</label>
                                            <div class="col-sm-10">
                                                <select id="telCheckNotPassReason" class="form-control" ng-model="checkVo.telCheckNotPassReason"
                                                        ng-options="item.dictDataCode as item.dictDataName for item in telCheckNotPassReasonList" >
                                                    <option value="">请选择电审未通过原因</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-sm">
                                            <label for="telCheckComment" class="col-sm-1 control-label">电审备注：</label>
                                            <div class="col-sm-11">
                                                <textarea type="text" class="form-control" id="telCheckComment" ng-model="checkVo.telCheckComment" placeholder="电审备注"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </uib-tab>
                <uib-tab index="1"  select="initApplyFileManage()">
                    <uib-tab-heading>
                        <span>申请资料</span>
                    </uib-tab-heading>
                    <ng-file-manage on-init="initApplyFileComponent(interface)" options="{enableUpload:true,enableMove:true,enableDelete:false}"></ng-file-manage>
                </uib-tab>
                <uib-tab index="2"  select="initCheckFileManage(applyInfo.appId)">
                    <uib-tab-heading>
                        <span>审核资料</span>
                    </uib-tab-heading>
                    <ng-file-manage on-init="initCheckFileComponent(interface)" options="{enableUpload:true,enableMove:true,enableDelete:false}"></ng-file-manage>
                </uib-tab>
                <uib-tab index="3"  select="queryWorkflowProcessResult(taskId)">
                    <uib-tab-heading>
                        <span>流程流转记录</span>
                    </uib-tab-heading>
                    <div ng-include="'module_task/tpl/form-workflow_process_result.html'"></div>
                </uib-tab>
                <uib-tab index="4">
                    <uib-tab-heading>
                        <span>申请数据反欺诈信息<span class="badge text-danger">{{fraudInnerResultList.length}}</span></span>
                    </uib-tab-heading>
                    <div ng-include="'module_task/tpl/form-fraudinnerresult-list.html'"></div>
                </uib-tab>
                <uib-tab index="5">
                    <uib-tab-heading>
                        <span>申请历史数据反欺诈信息<span class="badge text-danger">{{fraudHisResultList.length}}</span></span>
                    </uib-tab-heading>
                    <div ng-include="'module_task/tpl/form-fraudhisresult-list.html'"></div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div  class="check-footer">
            <form class="container-fluid m-t-md form-horizontal" name="approveForm">
                <div ng-include="'module_task/tpl/form-apply-approve.html'"></div>
            </form>
        </div>
     </ng-form>
</div>
