<!--申请信息-->
<form class="container-fluid m-t-md form-horizontal">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">复议申请信息</legend>
        <div class="row m-t-md">
            <div class="col-md-12">
                <div class="form-group form-group-sm">
                    <label for="rejectReason" class="col-sm-1 control-label">拒绝原因：</label>
                    <div class="col-sm-11">
                        <textarea type="text" class="form-control" id="rejectReason" ng-model="reconsiderApplyVo.rejectReason" placeholder="拒绝原因" disabled></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-group-sm">
                    <label  class="col-sm-2 control-label">复议原因：</label>
                    <div class="col-sm-10">
                        <select  class="form-control" ng-model="reconsiderApplyVo.recommitReason"
                                 ng-options="item.dictDataCode as item.dictDataName for item in reconsiderReasonList" required>
                            <option value="">请选择复议原因</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-sm">
                    <label for="recommitComment" class="col-sm-1 control-label">复议备注：</label>
                    <div class="col-sm-11">
                        <textarea type="text" class="form-control" id="recommitComment" ng-model="reconsiderApplyVo.recommitComment" placeholder="复议备注"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
