<!--申请信息-->
<form class="container-fluid m-t-md form-horizontal" name="loanCheckForm">
   <div  ng-repeat="item in signContractVo.signFinanceList">
       <fieldset class="scheduler-border">
           <legend class="scheduler-border">车辆信息{{item.applyFinance.seq | simpleChnUpperCase}}</legend>
           <div class="m-t-md">
               <fieldset class="scheduler-border">
                   <legend class="scheduler-border">发票信息</legend>
                   <div class="row m-t-md">
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="invoiceCode" class="col-sm-4 control-label">购车发票代码：</label>
                               <div class="col-sm-8">
                                   <input type="text" id="invoiceCode" class="form-control" ng-model="item.signFinanceDetail.invoiceCode" required>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="invoiceNo" class="col-sm-4 control-label">购车发票号码：</label>
                               <div class="col-sm-8">
                                   <input type="text" id="invoiceNo" class="form-control" ng-model="item.signFinanceDetail.invoiceNo" required>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="invoiceAreaId" class="col-sm-4 control-label">发票开具地：</label>
                               <div class="col-sm-8">
                                   <select  class="form-control" id="invoiceAreaId" ng-model="item.signFinanceDetail.invoiceAreaId"
                                            ng-options="item.id as item.areaName for item in provinceList" required>
                                       <option value="">请选择发票开具地</option>
                                   </select>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="registerCode" class="col-sm-4 control-label">机动车登记证编码：</label>
                               <div class="col-sm-8">
                                   <input type="text" id="registerCode" class="form-control" ng-model="item.signFinanceDetail.registerCode" required>
                               </div>
                           </div>
                       </div>
                   </div>
               </fieldset>
               <fieldset class="scheduler-border">
                   <legend class="scheduler-border">GPS信息</legend>
                   <div class="row m-t-md">
                       <div class="col-md-4 ">
                           <div class="form-group form-group-sm">
                               <label for="gpsSupplierId" class="col-sm-4 control-label">GPS供应商：</label>
                               <div class="col-sm-8">
                                   <select  class="form-control" id="gpsSupplierId" ng-model="item.signFinanceDetail.gpsSupplierId"
                                            ng-options="item.id as item.name for item in gpsSupplierList" required>
                                       <option value="">请选择GPS供应商</option>
                                   </select>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="gpsWiredNo" class="col-sm-4 control-label">有线GPS编码：</label>
                               <div class="col-sm-8">
                                   <input type="text" id="gpsWiredNo" class="form-control" ng-model="item.signFinanceDetail.gpsWiredNo" required>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="gpsWirelessNo" class="col-sm-4 control-label">无线GPS编码：</label>
                               <div class="col-sm-8">
                                   <input type="text" id="gpsWirelessNo" class="form-control" ng-model="item.signFinanceDetail.gpsWirelessNo">
                               </div>
                           </div>
                       </div>
                   </div>
               </fieldset>
               <fieldset class="scheduler-border">
                   <legend class="scheduler-border">交强险信息</legend>
                   <div class="row m-t-md">
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="insCompanyId" class="col-sm-4 control-label">保险公司：</label>
                               <div class="col-sm-8">
                                   <select  class="form-control" id="insCompanyId" ng-model="item.signFinanceDetail.insCompanyId"
                                            ng-options="item.id as item.name for item in insuranceCompanyList" required>
                                       <option value="">请选择保险公司</option>
                                   </select>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="insPolicyNo" class="col-sm-4 control-label">保单号：</label>
                               <div class="col-sm-8">
                                   <input type="text" id="insPolicyNo" class="form-control" ng-model="item.signFinanceDetail.insPolicyNo" required>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="insAmount" class="col-sm-4 control-label">保险金额：</label>
                               <div class="col-sm-8">
                                   <input type="number" step="0.01" id="insAmount" class="form-control" ng-model="item.signFinanceDetail.insAmount" required>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="insStartDate" class="col-sm-4 control-label">保险开始日期：</label>
                               <div class="col-sm-8">
                                   <div class="input-group">
                                       <input type="text" id="insStartDate" class="form-control" uib-datepicker-popup   is-open="item.isopenSnsStartDate" ng-model="item.signFinanceDetail.insStartDate" required>
                                       <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"  ng-click="item.isopenSnsStartDate=!item.isopenSnsStartDate" ><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                   </div>
                               </div>

                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="insEndDate" class="col-sm-4 control-label">保险结束日期：</label>
                               <div class="col-sm-8">
                                   <div class="input-group">
                                       <input type="text" id="insEndDate" class="form-control" uib-datepicker-popup  is-open="item.isOpenSnsEndDate" ng-model="item.signFinanceDetail.insEndDate" required>
                                       <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"  ng-click="item.isOpenSnsEndDate=!item.isOpenSnsEndDate" ><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </fieldset>
               <fieldset class="scheduler-border">
                   <legend class="scheduler-border">商业险信息</legend>
                   <div class="row m-t-md">
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="busiCompanyId" class="col-sm-4 control-label">保险公司：</label>
                               <div class="col-sm-8">
                                   <select  class="form-control" id="busiCompanyId" ng-model="item.signFinanceDetail.busiCompanyId"
                                            ng-options="item.id as item.name for item in insuranceCompanyList" required>
                                       <option value="">请选择保险公司</option>
                                   </select>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="busiPolicyNo" class="col-sm-4 control-label">保单号：</label>
                               <div class="col-sm-8">
                                   <input type="text" id="busiPolicyNo" class="form-control" ng-model="item.signFinanceDetail.busiPolicyNo" required>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="busiAmount" class="col-sm-4 control-label">保险金额：</label>
                               <div class="col-sm-8">
                                   <input type="number" step="0.01" id="busiAmount" class="form-control" ng-model="item.signFinanceDetail.busiAmount" required>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="gpsWiredNo" class="col-sm-4 control-label">车损险金额：</label>
                               <div class="col-sm-8">
                                   <div class="input-group">
                                       <input type="number" class="form-control input-sm"  ng-model="item.signFinanceDetail.damageAmount"
                                              ng-disabled="item.signFinanceDetail.isDamage==false || item.signFinanceDetail.isDamage == undefined" placeholder="车损险金额">
                                        <span class="input-group-addon">
                                            <input type="checkbox" ng-click="item.signFinanceDetail.damageAmount=0" ng-model="item.signFinanceDetail.isDamage">是否购买
                                        </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="gpsWiredNo" class="col-sm-4 control-label">第三者责任险金额：</label>
                               <div class="col-sm-8">
                                   <div class="input-group">
                                       <input type="number" class="form-control input-sm"  ng-model="item.signFinanceDetail.thirdAmount"
                                              ng-disabled="item.signFinanceDetail.isThird==false || item.signFinanceDetail.isThird == undefined" placeholder="车损险金额">
                                        <span class="input-group-addon">
                                            <input type="checkbox" ng-click="item.signFinanceDetail.thirdAmount=0"  ng-model="item.signFinanceDetail.isThird">是否购买
                                        </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="gpsWiredNo" class="col-sm-4 control-label">盗抢险金额：</label>
                               <div class="col-sm-8">
                                   <div class="input-group">
                                       <input type="number" class="form-control input-sm"  ng-model="item.signFinanceDetail.theftAmount"
                                              ng-disabled="item.signFinanceDetail.isTheft==false || item.signFinanceDetail.isTheft == undefined" placeholder="车损险金额">
                                        <span class="input-group-addon">
                                            <input type="checkbox" ng-click="item.signFinanceDetail.theftAmount=0"  ng-model="item.signFinanceDetail.isTheft">是否购买
                                        </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="gpsWiredNo" class="col-sm-4 control-label">不计免赔险金额：</label>
                               <div class="col-sm-8">
                                   <div class="input-group">
                                       <input type="number" class="form-control input-sm"  ng-model="item.signFinanceDetail.avoidAmount"
                                              ng-disabled="item.signFinanceDetail.isAvoid==false || item.signFinanceDetail.isAvoid == undefined" placeholder="车损险金额">
                                        <span class="input-group-addon">
                                            <input type="checkbox" ng-click="item.signFinanceDetail.avoidAmount=0"  ng-model="item.signFinanceDetail.isAvoid">是否购买
                                        </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="busiStartDate" class="col-sm-4 control-label">保险开始日期：</label>
                               <div class="col-sm-8">
                                   <div class="input-group">
                                       <input type="text" id="busiStartDate" class="form-control" uib-datepicker-popup  is-open="item.isopenBusiStartDate" ng-model="item.signFinanceDetail.busiStartDate" required>
                                       <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"  ng-click="item.isopenBusiStartDate=!item.isopenBusiStartDate" ><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="busiEndDate" class="col-sm-4 control-label">保险结束日期：</label>
                               <div class="col-sm-8">
                                   <div class="input-group">
                                       <input type="text" id="busiEndDate" class="form-control" uib-datepicker-popup  is-open="item.isopenBusiEndDate" ng-model="item.signFinanceDetail.busiEndDate" required>
                                       <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"  ng-click="item.isopenBusiEndDate=!item.isopenBusiEndDate" ><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </fieldset>
               <fieldset class="scheduler-border">
                   <legend class="scheduler-border">履约险信息</legend>
                   <div class="row m-t-md">
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="impCompanyId" class="col-sm-4 control-label">保险公司：</label>
                               <div class="col-sm-8">
                                   <select  class="form-control" id="impCompanyId" ng-model="item.signFinanceDetail.impCompanyId"
                                            ng-options="item.id as item.name for item in insuranceCompanyList" required>
                                       <option value="">请选择保险公司</option>
                                   </select>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="impPolicyNo" class="col-sm-4 control-label">保单号：</label>
                               <div class="col-sm-8">
                                   <input type="text" id="impPolicyNo" class="form-control" ng-model="item.signFinanceDetail.impPolicyNo" required>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="impAmount" class="col-sm-4 control-label">保险金额：</label>
                               <div class="col-sm-8">
                                   <input type="text" id="impAmount" class="form-control" ng-model="item.signFinanceDetail.impAmount" required>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="impStartDate" class="col-sm-4 control-label">保险开始日期：</label>
                               <div class="col-sm-8">
                                   <div class="input-group">
                                       <input type="text" id="impStartDate" class="form-control" uib-datepicker-popup  is-open="item.isopenImpStartDate" ng-model="item.signFinanceDetail.impStartDate" required>
                                       <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"  ng-click="item.isopenImpStartDate=!item.isopenImpStartDate" ><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group form-group-sm">
                               <label for="impEndDate" class="col-sm-4 control-label">保险结束日期：</label>
                               <div class="col-sm-8">
                                   <div class="input-group">
                                       <input type="text" id="impEndDate" class="form-control" uib-datepicker-popup  is-open="item.isopenImpEndDate" ng-model="item.signFinanceDetail.impEndDate" required>
                                       <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"  ng-click="item.isopenImpEndDate=!item.isopenImpEndDate" ><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </fieldset>
           </div>
       </fieldset>
   </div>
</form>
