<!--申请信息-->
<form class="container-fluid m-t-md form-horizontal">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">审批信息</legend>
        <div class="row m-t-md">
            <div class="col-md-3">
                <div class="form-group form-group-sm">
                    <label for="totalFinanceAmt" class="col-sm-4 control-label">审批额度：</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{applyInfo.totalFinanceAmt}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group-sm">
                    <label for="period" class="col-sm-4 control-label">审批期数：</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{applyInfo.period}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group-sm">
                    <label for="period" class="col-sm-4 control-label">放款金额：</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{applyInfo.totalLoanAmt}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group-sm">
                    <label for="period" class="col-sm-4 control-label">月租金：</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{applyInfo.monthRent}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group form-group-sm">
                    <label for="custType" class="col-sm-4 control-label">客户类型：</label>
                    <div class="col-sm-8">
                        <select id="custType" class="form-control" ng-model="applyInfo.custType" required disabled>
                            <option value="A" selected>A类</option>
                            <option value="B">B类</option>
                            <option value="C">C类</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group-sm">
                    <label  class="col-sm-4 control-label">放款条件：</label>
                    <div class="col-sm-8">
                        <select  class="form-control" ng-model="applyInfo.product.repayMode"
                                 ng-options="item.dictDataCode as item.dictDataName for item in repayModeList" required disabled>
                            <option value="">请选择放款条件</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group-sm">
                    <label for="checkType" class="col-sm-4 control-label">审批结果：</label>
                    <div class="col-sm-8">
                        <select id="checkType" class="form-control" ng-model="approveVo.result" required
                                ng-options="item.dictDataCode as item.dictDataName for item in approveList" >
                            <option value="">请选择审批结果</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-md" ng-if="approveVo.result=='tjlx202'">
            <div class="col-md-12">
                <div class="form-group form-group-sm">
                    <label for="loanExtConditon" class="col-sm-1 control-label">放款附加条件：</label>
                    <div class="col-sm-11">
                        <textarea type="text" class="form-control" id="loanExtConditon" ng-model="approveVo.loanExtConditon" placeholder="放款附加条件" ng-required="approveVo.result=='tjlx202'"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-md" ng-if="approveVo.result=='tjlx204'">
            <div class="col-md-12">
                <div class="form-group form-group-sm">
                    <label for="rejectReason" class="col-sm-1 control-label">拒绝原因：</label>
                    <div class="col-sm-11">
                        <textarea type="text" class="form-control" id="rejectReason" ng-model="approveVo.rejectReason" placeholder="拒绝原因" ng-required="approveVo.result=='tjlx204'"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-md" ng-if="approveVo.result=='tjlx203'">
            <div class="col-md-12">
                <div class="form-group form-group-sm">
                    <label for="cancelReason" class="col-sm-1 control-label">取消原因：</label>
                    <div class="col-sm-11">
                        <textarea type="text" class="form-control" id="cancelReason" ng-model="approveVo.cancelReason" placeholder="取消原因" ng-required="approveVo.result=='tjlx203'"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-md">
            <div class="col-md-12">
                <div class="form-group form-group-sm">
                    <label for="comment" class="col-sm-1 control-label">审批备注：</label>
                    <div class="col-sm-11">
                        <textarea type="text" class="form-control" id="comment" ng-model="approveVo.comment" placeholder="审批备注"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
