<fieldset class="scheduler-border">
    <legend class="scheduler-border">审核信息</legend>
    <div class="row m-t-md">
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label for="totalFinanceAmt" class="col-sm-4 control-label">审核额度：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyInfo.totalFinanceAmt}}元</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label for="period" class="col-sm-4 control-label">审核期数：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyInfo.period}}期</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label for="period" class="col-sm-4 control-label">放款金额：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyInfo.totalLoanAmt}}元</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label for="period" class="col-sm-4 control-label">月租金：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyInfo.monthRent}}元</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label for="custType" class="col-sm-4 control-label">客户类型：</label>
                <div class="col-sm-8">
                    <select id="custType" class="form-control" ng-model="applyInfo.custType" disabled>
                        <option value="A" selected>A类</option>
                        <option value="B">B类</option>
                        <option value="C">C类</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label  class="col-sm-4 control-label">放款方式：</label>
                <div class="col-sm-8">
                    <select  class="form-control" ng-model="applyInfo.product.loanCondition"
                             ng-options="item.dictDataCode as item.dictDataName for item in loanConditionList" required disabled>
                        <option value="">请选择放款条件</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label for="checkType" class="col-sm-4 control-label">审核结果：</label>
                <div class="col-sm-8">
                    <select id="checkType" class="form-control" ng-model="checkVo.result" required
                            ng-options="item.dictDataCode as item.dictDataName for item in checkList" >
                        <option value="">请选择审核结果</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="checkVo.result=='tjlx102'">
        <div class="col-md-12">
            <div class="form-group form-group-sm">
                <label for="loanExtConditon" class="col-sm-1 control-label">放款附加条件：</label>
                <div class="col-sm-11">
                    <textarea type="text" class="form-control" id="loanExtConditon" ng-model="checkVo.loanExtConditon" placeholder="放款附加条件" required ng-required="checkVo.result=='tjlx102'"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="checkVo.result=='tjlx104'">
        <div class="col-md-12">
            <div class="form-group form-group-sm">
                <label for="rejectReason" class="col-sm-1 control-label">拒绝原因：</label>
                <div class="col-sm-11">
                    <select id="rejectReason" class="form-control" ng-model="checkVo.rejectReason" required
                            ng-options="item.dictDataName as item.dictDataName for item in checkRejectReasonList" >
                        <option value="">请选择拒绝原因</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="checkVo.result=='tjlx103'">
        <div class="col-md-12">
            <div class="form-group form-group-sm">
                <label for="cancelReason" class="col-sm-1 control-label">取消原因：</label>
                <div class="col-sm-11">
                    <select id="cancelReason" class="form-control" ng-model="checkVo.cancelReason" required
                            ng-options="item.dictDataName as item.dictDataName for item in checkCancelReasonList" >
                        <option value="">请选择取消原因</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-sm">
                <label for="comment" class="col-sm-1 control-label">审核备注：</label>
                <div class="col-sm-11">
                    <textarea type="text" class="form-control" id="comment" ng-model="checkVo.comment" required placeholder="审核备注"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-group-sm">
                <label for="netCheckResult" class="col-sm-2 control-label">网查结果：</label>
                <div class="col-sm-10">
                    <select id="netCheckResult" class="form-control" ng-model="checkVo.netCheckResult"
                            ng-options="item.dictDataCode as item.dictDataName for item in netCheckResultList" required>
                        <option value="">请选择网查结果</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-sm">
                <label for="netCheckNotPassReason" class="col-sm-2 control-label">网查未通过原因：</label>
                <div class="col-sm-10">
                    <select id="netCheckNotPassReason" class="form-control" ng-model="checkVo.netCheckNotPassReason"
                            ng-options="item.dictDataCode as item.dictDataName for item in netCheckNotPassReasonList"  >
                        <option value="">请选择网查未通过原因</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-sm">
                <label for="netCheckComment" class="col-sm-1 control-label">网查备注：</label>
                <div class="col-sm-11">
                    <textarea type="text" class="form-control" id="netCheckComment" ng-model="checkVo.netCheckComment" required placeholder="网查备注"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-group-sm">
                <label for="telCheckResult" class="col-sm-2 control-label">电审结果：</label>
                <div class="col-sm-10">
                    <select id="telCheckResult" class="form-control" ng-model="checkVo.telCheckResult"
                            ng-options="item.dictDataCode as item.dictDataName for item in telCheckResultList" required>
                        <option value="">请选择电审结果</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-sm">
                <label for="telCheckNotPassReason" class="col-sm-2 control-label">电审未通过原因：</label>
                <div class="col-sm-10">
                    <select id="telCheckNotPassReason" class="form-control" ng-model="checkVo.telCheckNotPassReason"
                            ng-options="item.dictDataCode as item.dictDataName for item in telCheckNotPassReasonList" >
                        <option value="">请选择电审未通过原因</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-sm">
                <label for="telCheckComment" class="col-sm-1 control-label">电审备注：</label>
                <div class="col-sm-11">
                    <textarea type="text" class="form-control" id="telCheckComment" ng-model="checkVo.telCheckComment" required placeholder="电审备注"></textarea>
                </div>
            </div>
        </div>
    </div>
</fieldset>

