<div ng-init="init()" cg-busy="loading">
    <div class="panel_main">
        <div class="data-table-container">
            <header class="data-table-header">
                <div class="data-table-header__label">
                    <div class="row m-t-sm">
                        <div class="col-sm-2">
                            <select id="branchId" class="form-control" ng-model="vm.branchId"
                                    ng-options="item.id as (item.branchCode+'-'+item.branchName) for item in branchList" >
                                <option value="">请选择经销商</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <input type="text" class="form-control m-b-sm m-r-xs" id="appId" ng-model="vm.appId" placeholder="申请单号">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <input type="text" class="form-control m-b-sm m-r-xs" id="name" ng-model="vm.name" placeholder="客户姓名">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-default btn-sm" ng-click="queryLoaningTaskList()"><i class="fa fa-search" aria-hidden="true"></i>查询</button>
                        </div>
                    </div>
                    <span class="fs-title"></span>
                </div>
                <div class="data-table-header__actions">
                    <button class="btn btn-m btn-default btn-sm" type="button" ng-click="batchConfirmLoanTask()"><i class="fa fa-plus m-r-sm"></i>批量确认放款</button>
                </div>
            </header>
            <table class="data-table">
                <thead>
                <tr>
                    <th style="width:20px"><input type="checkbox" ng-model="selectAllStatus"  ng-click="checkLoanningAll()"></th>
                    <th>申请单号</th>
                    <th>产品名称</th>
                    <th>客户姓名</th>
                    <th>融资金额</th>
                    <th>期数</th>
                    <th>进件日期</th>
                    <th>所属经销商</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in loaningTaskList">
                    <td><input type="checkbox" ng-checked="item.checked" ng-click="item.checked = !item.checked"></td>
                    <td>{{item.businessKey}}</td>
                    <td>{{item.productName}}</td>
                    <td>{{item.tenantName}}</td>
                    <td>{{item.totalFinanceAmount}}</td>
                    <td>{{item.period}}</td>
                    <td>{{item.createTime |mysqlDatetime}}</td>
                    <td>{{item.branchName}}</td>
                    <td><a href="javascript:" ng-click="commitLoanTask(item)">确认放款</a></td>
                </tr>
                </tbody>
            </table>
            <div class="has-divider has-divider--dark"></div>
            <div class="toolbar">
                <div class="toolbar__left mr++">
                    <span ng-if="paginationInfo.totalItem==0">
                        无查询结果
                    </span>
                </div>
                <span class="toolbar__label fs-title">

                </span>
                <div class="toolbar__right" ng-if="paginationInfo.totalItem>0">
                    <div class="mr+++">
                    <span>
                        总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
                    </div>
                    <div>
                        <uib-pagination boundary-links="true" total-items="paginationInfo.totalItem"
                                        ng-model="paginationInfo.curPage"
                                        max-size="paginationInfo.maxSize"
                                        items-per-page="paginationInfo.pageSize" ng-change="pageChanged()"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                        last-text="&raquo;">
                        </uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


</div>
