<div ng-init="init()"  cg-busy="loading">
    <div class="panel_main">
        <div class="panel-header">
            <div class="panel-header-wrapper">
                <h2 class="panel-header-title">代办任务</h2>
            </div>
        </div>
        <div class="data-table-container" >
            <header class="data-table-header">
                <button class="btn btn-primary btn-sm m-r-md" type="button" ng-click="queryToDoTaskFilterByDefKey(item)" ng-repeat="item in taskDefinGroupList">
                    {{item.taskName}} <span class="badge">{{item.count}}</span>
                </button></span>
            </header>
            <header class="data-table-header">
                <div class="data-table-header__label">
                    <div class="row m-t-sm">
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <input type="text" class="form-control" id="appId" ng-model="vm.appId" placeholder="申请单号">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group form-group-sm">
                                <input type="text" class="form-control" id="name" ng-model="vm.name" placeholder="客户姓名">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-default btn-sm m-b-sm m-r-xs" ng-click="queryToDoTaskListByFilter()"><i class="fa fa-search" aria-hidden="true"></i>查询</button>
                        </div>
                    </div>
                    <span class="fs-title"></span>
                </div>
                <div class="data-table-header__actions">
                </div>
            </header>
            <table class="table  data-table" >
                <thead>
                <tr>
                    <th style="width: 10px"></th>
                    <th>申请单号</th>
                    <th>产品名称</th>
                    <th>客户姓名</th>
                    <th>融资金额</th>
                    <th>期数</th>
                    <th>进件日期</th>
                    <th>所属经销商</th>
                    <th>分配时间</th>
                    <th>任务来源</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in toDoTaskList" ng-class="{'danger':item.inJumpType=='BACK'}">
                    <td><span ng-if="item.processTime==undefined"><i class="fa fa-circle" aria-hidden="true" style="color: rgba(182, 30, 22, 0.98)"></i></span></td>
                    <td>{{item.businessKey}}</td>
                    <td>{{item.productName}}</td>
                    <td>{{item.tenantName}}</td>
                    <td>{{item.totalFinanceAmount}}</td>
                    <td>{{item.period}}</td>
                    <td>{{item.createTime | mysqlDatetime}}</td>
                    <td>{{item.branchName}}</td>
                    <td>{{item.startTime| mysqlDatetime}}</td>
                    <td>
                        <span ng-switch="item.inJumpType">
                            <p ng-switch-when="COMMIT">提交/{{item.parentTaskName}}/{{item.parentAssignee}}</p>
                            <p ng-switch-when="BACK">退回/{{item.parentTaskName}}/{{item.parentAssignee}}</p>
                        </span>
                        </td>
                    <td ng-if="item.taskDefKey!='jxsqy'">
                        <a href="javascript:" ng-click="doTask(item)">{{item.taskName}}</a>
                    </td>
                    <td ng-if="item.taskDefKey=='jxsqy'">
                        <a href="javascript:" ng-click="doTask(item)">签约</a>
                        <br/>
                        <a href="javascript:" ng-click="doChangeApply(item)">变更申请</a>
                        &nbsp;&nbsp;
                        <a href="javascript:" ng-click="doCancelApply(item)">取消申请</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="has-divider has-divider--dark"></div>
            <div class="toolbar">
                <div class="toolbar__left mr++">
                    <span ng-if="paginationInfo.totalItem==0">
                        无查询结果
                    </span>
                </div>
                <span class="toolbar__label fs-title">

                </span>
                <div class="toolbar__right" ng-if="paginationInfo.totalItem>0">
                    <div class="mr+++">
                    <span>
                        总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
                    </div>
                    <div>
                        <uib-pagination boundary-links="true" total-items="paginationInfo.totalItem"
                                        ng-model="paginationInfo.curPage"
                                        max-size="paginationInfo.maxSize"
                                        items-per-page="paginationInfo.pageSize" ng-change="pageChanged()"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                        last-text="&raquo;">
                        </uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


</div>
