<table class="data-table">
    <thead>
    <tr>
        <th>变更类型</th>
        <th>变更时间</th>
        <th>变更人</th>
        <th>变更备注</th>
        <th>变更详细</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in alterInfoLogList">
        <td>{{item.alterTypeDesc}}</td>
        <td>{{item.alterTime | mysqlDatetime}}</td>
        <td>{{item.operName}}</td>
        <td>{{item.alterComment}}</td>
        <td>
            <a href="javascript:" ng-click="showAlterCustInfoLogDetail(item.id)">详细</a>
        </td>
    </tr>
    </tbody>
</table>