<div ng-init="initList()" cg-busy="loading" >
    <div class="panel panel-default">
        <div class="panel-heading">贷后综合查询</div>
        <div class="container-fluid">
            <div class="row m-t-sm">
                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <input type="text" class="form-control" id="appId" ng-model="vm.appId" placeholder="申请单号">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <input type="text" class="form-control" id="name" ng-model="vm.name" placeholder="客户姓名">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <select id="productCode" class="form-control" ng-model="vm.productCode"
                                ng-options="item.productCode as item.productName group by item.productTypeName  for item in productList track by item.id" >
                            <option value="">请选择产品</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <input type="text" class="form-control" id="idNo" ng-model="vm.idNo" placeholder="证件号码">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <input type="text" class="form-control" id="mobile" ng-model="vm.mobile" placeholder="承租人电话号码1或号码2">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <input type="text" class="form-control" id="contractNo" ng-model="vm.contractNo" placeholder="合同编号">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <input type="text" class="form-control" id="sysBranchCode" ng-model="vm.sysBranchCode" placeholder="经销商编码">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <div class="input-group">
                            <input type="text" id="loanStartDate" class="form-control m-b-sm m-r-xs" uib-datepicker-popup
                                   placeholder="放款完成开始日期"
                                   is-open="isopenLoanStartDate"
                                   ng-model="vm.loanStartDate" >
                        <span class="input-group-btn">
                            <button type="button" class="form-control btn btn-default btn-md m-b-ms"   ng-click="isopenLoanStartDate=!isopenLoanStartDate" ><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <div class="input-group">
                            <input type="text" id="loanEndDate" class="form-control m-b-sm m-r-xs" uib-datepicker-popup
                                   placeholder="放款完成结束日期"
                                   is-open="isopenLoanEndDate"
                                   ng-model="vm.loanEndDate" >
                        <span class="input-group-btn">
                            <button type="button" class="form-control btn btn-default btn-md m-b-ms"   ng-click="isopenLoanEndDate=!isopenLoanEndDate" ><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <select ng-model="vm.repayStatus"  class="form-control m-b-sm m-r-xs"
                                ng-options="item.dictDataCode as item.dictDataName for item in repayStatusList" >
                            <option value="">请选择还款状态</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <input type="number" class="form-control" id="overdueDay" ng-model="vm.overdueDay" placeholder="逾期天数">
                    </div>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-default btn-sm m-b-sm m-r-xs" ng-click="queryLoanCustList()"><i class="fa fa-search" aria-hidden="true"></i>查询</button>
                </div>
            </div>
        </div>
        <div class="data-table-container">
            <table class="data-table  table table-hover">
                <thead>
                <tr>
                    <th>申请单号</th>
                    <th>姓名</th>
                    <th>证件号码</th>
                    <th>手机号码</th>
                    <th>融资金额</th>
                    <th>融资期限</th>
                    <th>剩余本金</th>
                    <th>还款状态</th>
                    <th>逾期天数</th>
                    <th>当前处理状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in loanCustList">
                    <td>{{item.appId}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.idNo}}</td>
                    <td>{{item.mobile}}</td>
                    <td>{{item.totalFinanceAmt}}</td>
                    <td>{{item.period}}</td>
                    <td>{{item.remainCapital}}</td>
                    <td>{{item.repayStatusDesc}}</td>
                    <td>{{item.addupOverdueDay}}</td>
                    <td>{{item.processStatusDesc}}</td>
                    <td>
                        <a href="javascript:" ui-sref="app.loanquery.loaninfo.detail({appId:item.appId})">详细</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="has-divider has-divider--dark"></div>
            <div class="toolbar">
                <div class="toolbar__left mr++">
                    <span ng-if="paginationInfo.totalItem==0">
                        无查询结果
                    </span>
                </div>
                <span class="toolbar__label fs-title">

                </span>
                <div class="toolbar__right" ng-if="paginationInfo.totalItem>0">
                    <div class="mr+++">
                    <span>
                        总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
                    </div>
                    <div>
                        <uib-pagination boundary-links="true" total-items="paginationInfo.totalItem"
                                        ng-model="paginationInfo.curPage"
                                        items-per-page="paginationInfo.pageSize"
                                        max-size="paginationInfo.maxSize" ng-change="pageChanged()"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                        last-text="&raquo;">
                        </uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
