<div ng-init="initList()" >
    <div class="panel_main">
        <div class="data-table-container">
            <header class="data-table-header" style="min-height:72px !important;">
                <div class="data-table-header__label">
                    <span class="fs-title"><i class="fa fa-globe mr"></i>贷后综合查询</span>
                </div>
            </header>
            <table class="data-table">
                <thead>
                <tr>
                    <th>申请单号</th>
                    <th>姓名</th>
                    <th>证件号码</th>
                    <th>手机号码</th>
                    <th>融资金额</th>
                    <th>融资期限</th>
                    <th>剩余本金</th>
                    <th>还款状态</th>
                    <th>当前处理状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in loanCustList">
                    <td>{{item.appId}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.idNo}}</td>
                    <td>{{item.mobile}}</td>
                    <td>{{item.totalFinanceAmt}}</td>
                    <td>{{item.period}}</td>
                    <td>{{item.remainCapital}}</td>
                    <td>{{item.repayStatusDesc}}</td>
                    <td>{{item.processStatusDesc}}</td>
                    <td>
                        <a href="javascript:" ui-sref="app.loanquery.loaninfo.detail({appId:item.appId})">详细</a>
                        <a href="javascript:" ng-click="sendSms(item.appId)">发送短信</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="has-divider has-divider--dark"></div>
            <div class="toolbar">
                <div class="toolbar__left mr++">
                    <span ng-if="paginationInfo.totalItem==0">
                        无查询结果
                    </span>
                </div>
                <span class="toolbar__label fs-title">

                </span>
                <div class="toolbar__right" ng-if="paginationInfo.totalItem>0">
                    <div class="mr+++">
                    <span>
                        总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
                    </div>
                    <div>
                        <uib-pagination boundary-links="true" total-items="paginationInfo.totalItem"
                                        ng-model="paginationInfo.curPage"
                                        items-per-page="paginationInfo.pageSize" ng-change="pageChanged()"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                        last-text="&raquo;">
                        </uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
