<div  class="panel" ng-init="initLoanDetail();editable=false;">
    <div class="data-table-container" >
        <header class="data-table-header" style="min-height:72px !important;">
            <div class="data-table-header__label">
                <span class="fs-title">
                    <i class="fa fa-globe mr"></i>贷款详细信息-{{applyInfo.appId}}-{{applyInfo.tenant.name}}-{{loanCustApplyInfo.repayStatusDesc}}
                </span>
            </div>
            <div class="data-table-header__actions">
                <button class="btn btn-default btn-sm" type="button"  ng-click="doPublicRepay()"></i>对公还款</button>
                <button class="btn btn-default btn-sm" type="button"  ng-click="doRefund()">退款</button>
                <button class="btn btn-default btn-sm" type="button"  ng-click="back()">减免</button>
                <button class="btn btn-default btn-sm" type="button"  ng-click="doSettle()">提前结清</button>
                <button class="btn btn-default btn-sm" type="button"  ng-click="back()">部分提前结清</button>
                <button class="btn btn-default btn-sm" type="button"  ng-click="doAlterRepayDate()">变更还款日</button>
                <button class="btn btn-default m-r-lg btn-sm" type="button"  ng-click="back()">展期</button>
                <button class="btn btn-default btn-sm" type="button"  ng-click="back()"><i class="fa fa-level-up m-r-sm"></i>返回上级</button>
            </div>
        </header>
    </div>

    <uib-tabset>
        <uib-tab index="0">
            <uib-tab-heading>
                <span>贷款基本信息</span>
            </uib-tab-heading>
            <div ng-include="'module_loanquery/tpl/form-loanbaseinfo.html'"></div>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                <span>申请信息</span>
            </uib-tab-heading>
            <div ng-include="'module_apply/tpl/form-apply.html'"></div>
        </uib-tab>
        <uib-tab index="2"  select="initApplyFileManage()">
            <uib-tab-heading>
                <span>申请资料</span>
            </uib-tab-heading>
            <ng-file-manage on-init="initApplyFileComponent(interface)" options="{enableUpload:false,enableMove:false,enableDelete:false}"></ng-file-manage>
        </uib-tab>
    </uib-tabset>
    <div ui-view=""></div>
</div>
