<div class="panel panel-default">
    <table class="data-table">
        <thead>
        <tr>
            <th>序号</th>
            <th>还款方式</th>
            <th>还款时间</th>
            <th>还款金额</th>
            <th>本金</th>
            <th>利息</th>
            <th>罚息</th>
            <th>其他费用</th>
            <th>其他费用罚息</th>
            <th>展期费</th>
            <th>提前结清违约金</th>
            <th>挂账金额</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in repayLogList">
            <td>{{item.seq}}</td>
            <td>{{item.repayMode}}</td>
            <td>{{item.repayTime | mysqlDate}}</td>
            <td>{{item.repayAmount}}</td>
            <td>{{item.capital}}</td>
            <td>{{item.interest}}</td>
            <td>{{item.overdueAmount}}</td>
            <td>{{item.otherFee}}</td>
            <td>{{item.otherOverdueAmount}}</td>
            <td>{{item.extendFee}}</td>
            <td>{{item.lateFee}}</td>
            <td>{{item.stageAmount}}</td>
        </tr>
        </tbody>
    </table>
    <div class="has-divider has-divider--dark"></div>
    <div class="toolbar">
        <div class="toolbar__left mr++">
                    <span ng-if="paginationInfo.totalItem==0">
                        无查询结果
                    </span>
        </div>
                <span class="toolbar__label fs-title">

                </span>
        <div class="toolbar__right" ng-if="paginationInfo.totalItem>0">
            <div class="mr+++">
                    <span>
                        总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
            </div>
            <div>
                <uib-pagination boundary-links="true" total-items="paginationInfo.totalItem"
                                ng-model="paginationInfo.curPage"
                                items-per-page="paginationInfo.pageSize"
                                max-size="paginationInfo.maxSize"
                                ng-change="repayLogPageChanged()"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;">
                </uib-pagination>
            </div>
        </div>
    </div>
</div>
