<div >
    <table class="data-table">
        <thead>
        <tr>
            <th>期数</th>
            <th>应还本金</th>
            <th>应还利息</th>
            <th>应还总额</th>
            <th>起息日</th>
            <th>结账日</th>
            <th>还款状态</th>
            <th>结清日期</th>
            <th>剩余本金</th>
            <th>剩余利息</th>
            <th>剩余罚息</th>
            <th>累计逾期天数</th>
            <th>累计逾期罚息</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in repayPlanList">
            <td>{{item.period}}</td>
            <td>{{item.repayCapital}}</td>
            <td>{{item.repayInterest}}</td>
            <td>{{item.repayTotalAmount}}</td>
            <td>{{item.valueDate |mysqlDate}}</td>
            <td>{{item.closingDate|mysqlDate}}</td>
            <td>
                <span ng-if="item.repayStatus =='hkzt01'">还款中</span>
                <span ng-if="item.repayStatus =='hkzt02'">已结清</span>
                <span ng-if="item.repayStatus =='hkzt03'">逾期</span>
            <td>{{item.settleDate|mysqlDate}}</td>
            <td>{{item.watingCharge.repayCapital}}</td>
            <td>{{item.watingCharge.repayInterest}}</td>
            <td>{{item.watingCharge.repayOverdueAmount}}</td>
            <td>{{item.addupOverdueDay}}</td>
            <td>{{item.addupOverdueAmount}}</td>
        </tr>
        </tbody>
    </table>
</div>
