<div ng-init="init()">
    <div class="panel_main">
        <div class="data-table-container">
            <header class="data-table-header">
                <div class="data-table-header__label">
                </div>
                <div class="data-table-header__actions">
                    <button class="btn btn-sm btn-default" type="button" ng-click="addGpsRule()"><i class="fa fa-plus m-r-sm"></i>增加</button>
                </div>
            </header>
            <table class="data-table">
                <thead>
                <tr>
                    <th>显示序号</th>
                    <th>规则名称</th>
                    <th>最小金额</th>
                    <th>最大金额</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in gpsRuleList">
                    <td>{{item.seq}}</td>
                    <td>{{item.ruleName}}</td>
                    <td>{{item.minAmount}}</td>
                    <td>{{item.maxAmount}}</td>
                    <td>
                        <a href="javascript:" ng-click="editGpsRule(item)">编辑</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="has-divider has-divider--dark"></div>
            <div class="toolbar" ng-if="false">
                <div class="toolbar__left mr++">
                    <span ng-if="paginationInfo.totalItem==0">
                        无查询结果
                    </span>
                </div>
                <span class="toolbar__label fs-title">

                </span>
                <div class="toolbar__right" ng-if="paginationInfo.totalItem>0">
                    <div class="mr+++">
                    <span>
                        总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
                    </div>
                    <div>
                        <uib-pagination boundary-links="true" total-items="paginationInfo.totalItem"
                                        ng-model="paginationInfo.curPage"
                                        items-per-page="paginationInfo.pageSize" ng-change="pageChanged()"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                        last-text="&raquo;">
                        </uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
