<div ng-init="initArchiveSupply();editable=false">
    <div id ="check-header" class="check-header">
        <div class="data-table-container" >
            <header class="data-table-header" style="min-height:72px !important;">
                <div class="data-table-header__label">
                    <span class="fs-title"><i class="fa fa-tasks mr"></i>任务名称：{{task.name}}-{{appId}}</span>
                </div>
                <div class="data-table-header__actions">
                    <button class="btn btn-default btn-sm" type="button" ng-click="showCustomDetail(appId)"><i class="fa fa-file-text m-r-sm" ></i>客户详细信息</button>
                    <button class="btn btn-default btn-sm" type="submit" ng-disabled="form.$invalid"  ng-click="reArchiveSupply()">完成并补充归档资料</button>
                    <button class="btn btn-success btn-sm" type="submit" ng-disabled="form.$invalid"  ng-click="commitArchiveLogSupplyTask()"><i class="fa fa-check m-r-sm"></i>完成归档</button>
                    <button class="btn btn-default btn-sm" type="button"  ng-click="back()"><i class="fa fa-level-up m-r-sm"></i>返回上级</button>
                </div>
            </header>
        </div>
    </div>
    <ng-form  name="form" novalidate ng-cloak="">
        <div class="check-body-full">
            <uib-tabset>
                <uib-tab index="0">
                    <uib-tab-heading>
                        <span>补充信息</span>
                    </uib-tab-heading>
                    <form class="container-fluid m-t-md form-horizontal">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span>已归档信息</span>
                            </div>
                            <fieldset disabled>
                                <div ng-include="'module_assetsmanage/tpl/form-loan-archive-log.html'"></div>
                            </fieldset>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span>补充信息</span>
                            </div>
                            <div ng-include="'module_assetsmanage/tpl/form-archive-log-supply.html'"></div>
                        </div>
                    </form>
                </uib-tab>
                <uib-tab index="1">
                    <uib-tab-heading>
                        <span>申请信息</span>
                    </uib-tab-heading>
                    <div ng-include="'module_apply/tpl/form-apply.html'"></div>
                </uib-tab>
                <uib-tab index="2"  select="initApplyFileManage()">
                    <uib-tab-heading>
                        <span>申请资料</span>
                    </uib-tab-heading>
                    <ng-file-manage on-init="initApplyFileComponent(interface)" options="{enableUpload:false,enableMove:false,enableDelete:false}"></ng-file-manage>
                </uib-tab>
                <uib-tab index="3"  select="queryWorkflowProcessResult(taskId)">
                    <uib-tab-heading>
                        <span>流程流转记录</span>
                    </uib-tab-heading>
                    <div ng-include="'module_task/tpl/form-workflow_process_result.html'"></div>
                </uib-tab>
            </uib-tabset>
        </div>
    </ng-form>
</div>
