<form name="form" class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>{{taskName}}申请信息</h4>
    </div>
    <div class="modal-body">
        <div ng-if="applyVo.taskType=='csrwlx01'"  ng-include="'module_assetsmanage/tpl/form-apply-phone-collection.html'"></div>
        <div ng-if="applyVo.taskType=='csrwlx02'"  ng-include="'module_assetsmanage/tpl/form-apply-visit-collection.html'"></div>
        <div ng-if="applyVo.taskType=='csrwlx03'"  ng-include="'module_assetsmanage/tpl/form-apply-out-collection.html'"></div>
        <div ng-if="applyVo.taskType=='csrwlx04'"  ng-include="'module_assetsmanage/tpl/form-apply-recover-collection.html'"></div>
        <div ng-if="applyVo.taskType=='csrwlx05'"  ng-include="'module_assetsmanage/tpl/form-apply-refund-collection.html'"></div>
        <div ng-if="applyVo.taskType=='csrwlx06'"  ng-include="'module_assetsmanage/tpl/form-apply-dispose-collection.html'"></div>
        <div ng-if="applyVo.taskType=='csrwlx07'"  ng-include="'module_assetsmanage/tpl/form-apply-lawsuit-collection.html'"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>