<form name="form" class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>选择人员</h4>
    </div>
    <div class="modal-body"  style="overflow:auto;height:300px">
        <div class="panel-main">
            <table class="data-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>当前任务数</th>
                    <th>最大任务数</th>
                    <th>选择</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in accounts">
                    <td>{{item.accountId}}</td>
                    <td>{{item.accountName}}</td>
                    <td>{{item.curTaskCnt}}</td>
                    <td>{{item.maxTaxkCnt}}</td>
                    <td>
                        <a href="javascript:" ng-click="select(item)">选择</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">确定</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>