<div ng-init="init()" >
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>提交档案归档</h4>
    </div>
    <div class="modal-body" >
        <div class="panel-body">
            <div class="c_box">
                <div class="c_left_box"  style="width: 50% !important;overflow-y: auto;height: 600px;">
                    <div class="panel_main">
                        <div class="panel-header">
                            <div class="panel-header-wrapper">
                                <h2 class="panel-header-title">待归档客户(每次最多返回100个客户)(剩余：{{leftList.length}})</h2>
                                <input type="text"  ng-model="filterLeftStr" stype="max-width:100px;heigth:10px" placeholder="申请单/合同编号/客户姓名" >
                            </div>
                        </div>
                        <div class="data-table-container">
                            <table class="data-table">
                                <thead>
                                <tr>
                                    <th style="width: 200px">申请单号</th>
                                    <th>客户姓名</th>
                                    <th>合同编号</th>
                                    <th style="width: 50px">操作</th>
                                </tr>
                                </thead>
                                <tbody style="overflow-y: auto;height: 400px;">
                                <tr ng-repeat="item in leftList  | filter:filterLeftStr">
                                    <td>{{item.appId}}</td>
                                    <td>{{item.custName}}</td>
                                    <td>{{item.contractNo}}</td>
                                    <td>
                                        <a href="javascript:" ng-click="addToRight(item)">加入</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="c_right_box"  style="width: 50% !important;overflow-y: auto;height: 600px;">
                    <div class="panel_main">
                        <div class="panel-header">
                            <div class="panel-header-wrapper">
                                <h2 class="panel-header-title">已选归档客户({{rightList.length}})</h2>
                                <input type="text"  ng-model="filterRightStr" stype="max-width:100px;heigth:10px" placeholder="申请单/合同编号/客户姓名" >
                            </div>
                        </div>
                        <div class="data-table-container">
                            <table class="data-table">
                                <thead>
                                <tr>
                                    <th style="width: 200px">申请单号</th>
                                    <th>客户姓名</th>
                                    <th>合同编号</th>
                                    <th style="width: 50px">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in rightList | filter:filterRightStr">
                                    <td>{{item.appId}}</td>
                                    <td>{{item.custName}}</td>
                                    <td>{{item.contractNo}}</td>
                                    <td>
                                        <a href="javascript:" ng-click="removeFromRight(item)">移除</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">确认归档</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
    </div>
</div>
