<form name="form" class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>新增商业保险</h4>
    </div>
    <div class="modal-body" style="min-height: 500px;">
        <div  ng-include="'module_assetsmanage/tpl/form-add-business-insurance.html'"/>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-disabled="form.$invalid" ng-click="ok()">提交</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>