<uib-tabset>
    <uib-tab index="$index" ng-repeat="item  in insHisList">
        <uib-tab-heading>
            <span>{{item.carVin}}</span>
        </uib-tab-heading>
        <header class="data-table-header" ng-if="canAddInsurance==true">
            <div class="data-table-header__label">
                <span class="fs-title"></span>
            </div>
            <div class="data-table-header__actions" >
                <div class="btn-group"  uib-dropdown dropdown-append-to-body="true" >
                    <button  type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
                        <i class="fa fa-plus m-r-sm"></i> 增加保险<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                        <li role="menuitem" >
                            <a href="javascript:" ng-click="addBusinessInsurance(item)">增加商业险</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="data-table-container">
            <table class="data-table">
                <thead>
                <tr>
                    <th style="width:100px">序号</th>
                    <th>保险类型</th>
                    <th>保险公司</th>
                    <th>保险单号</th>
                    <th>保险金额</th>
                    <th>保险开始日期</th>
                    <th>保险结束日期</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in item.jqxHisList">
                    <td>{{$index+1}}</td>
                    <td>{{item.insTypeDesc}}</td>
                    <td>{{item.insuranceCompanyName}}</td>
                    <td>{{item.insPolicyNo}}</td>
                    <td>{{item.insAmount}}</td>
                    <td>{{item.insStartDate| mysqlDate}}</td>
                    <td>{{item.insEndDate| mysqlDate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="data-table-container">
            <table class="data-table">
                <thead>
                <tr>
                    <th style="width:100px">序号</th>
                    <th>保险类型</th>
                    <th>保险公司</th>
                    <th>保险单号</th>
                    <th>保险金额</th>
                    <th>保险开始日期</th>
                    <th>保险结束日期</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in item.syxHisList">
                    <td>{{$index+1}}</td>
                    <td>{{item.insTypeDesc}}</td>
                    <td>{{item.insuranceCompanyName}}</td>
                    <td>{{item.insPolicyNo}}</td>
                    <td>{{item.insAmount}}</td>
                    <td>{{item.insStartDate| mysqlDate}}</td>
                    <td>{{item.insEndDate| mysqlDate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="data-table-container">
            <table class="data-table">
                <thead>
                <tr>
                    <th style="width:100px">序号</th>
                    <th>保险类型</th>
                    <th>保险公司</th>
                    <th>保险单号</th>
                    <th>保险金额</th>
                    <th>保险开始日期</th>
                    <th>保险结束日期</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in item.lyxHisList">
                    <td>{{$index+1}}</td>
                    <td>{{item.insTypeDesc}}</td>
                    <td>{{item.insuranceCompanyName}}</td>
                    <td>{{item.insPolicyNo}}</td>
                    <td>{{item.insAmount}}</td>
                    <td>{{item.insStartDate| mysqlDate}}</td>
                    <td>{{item.insEndDate| mysqlDate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
</uib-tabset>