<div>
    <div class="form-group">
        <label for="outReason" class="col-sm-2 control-label">委外催收原因：</label>
        <div class="col-sm-9">
            <select id="outReason" class="form-control" ng-model="applyVo.outReason"
                    ng-options="item.dictDataCode as item.dictDataName for item in outReasonList" required>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="outUnitId" class="col-sm-2 control-label">委外单位：</label>
        <div class="col-sm-9">
            <select id="outUnitId" class="form-control" ng-model="applyVo.outUnitId"
                    ng-options="item.id as item.unitName for item in outUnitList" required>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="outComment" class="col-sm-2 control-label">委外催收备注：</label>
        <div class="col-sm-9">
            <textarea  type="text" class="form-control" id="outComment" ng-model="applyVo.outComment" placeholder="委外催收备注"  rows="5" ></textarea>
        </div>
    </div>
</div>