<div class="panel panel-default">
    <div class="data-table-container">
        <table class="data-table">
            <thead>
            <tr>
                <th style="width:60px">序号</th>
                <th style="width: 350px">资料名称</th>
                <th style="width: 300px">份数</th>
                <th>备注</th>
                <th>核查结果</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat=" item in archiveInfo.detailList">
                <td>{{$index+1}}</td>
                <td>{{item.fileNameDesc}}</td>
                <td>
                    <span>{{item.fileCnt}}</span>
                </td>
                <td>
                    <span>{{item.comment}}</span>
                </td>
                <td>
                    <select  class="form-control" id="checkResult"  ng-model="item.checkResult"  ng-options="o.key as o.val for o in [{key:true,val:'通过'},{key:false,val:'不通过'}]" required>
                        <option value="">请选择</option>`
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>