<div ng-init="initInsuranceContinue();editable=false; canAddInsurance=true">
        <div id ="check-header" class="check-header">
            <div class="data-table-container" >
                <header class="data-table-header" style="min-height:72px !important;">
                    <div class="data-table-header__label">
                        <span class="fs-title"><i class="fa fa-tasks mr"></i>任务名称：{{task.name}}-{{appId}}</span>
                    </div>
                    <div class="data-table-header__actions">
                        <button class="btn btn-success btn-sm" type="submit"   ng-click="commitInsuranceContinue()"><i class="fa fa-check m-r-sm"></i>完成任务</button>
                        <button class="btn btn-default btn-sm" type="button"  ng-click="back()"><i class="fa fa-level-up m-r-sm"></i>返回上级</button>
                    </div>
                </header>
            </div>
        </div>
    <ng-form  name="form" novalidate ng-cloak="">
        <div class="check-body-full">
                <uib-tabset>
                    <uib-tab index="0">
                        <uib-tab-heading>
                            <span>保险续保</span>
                        </uib-tab-heading>
                        <form class="container-fluid m-t-md form-horizontal">
                            <div  ng-include="'module_assetsmanage/tpl/form-loanbaseinfo.html'"/>
                            <div  ng-include="'module_assetsmanage/tpl/form-his-insurance.html'"/>
                        </form>
                    </uib-tab>
                    <uib-tab index="1"  select="queryWorkflowProcessResult(taskId)">
                        <uib-tab-heading>
                            <span>流程流转记录</span>
                        </uib-tab-heading>
                        <div ng-include="'module_loantask/tpl/form-workflow_process_result.html'"></div>
                    </uib-tab>
                </uib-tabset>
        </div>
    </ng-form>
</div>
