<div ng-init="initTelIncome();editable=false;">
        <div id ="check-header" class="check-header">
            <div class="data-table-container" >
                <header class="data-table-header" style="min-height:72px !important;">
                    <div class="data-table-header__label">
                        <span class="fs-title"><i class="fa fa-tasks mr"></i>电话来电记录：{{appId}}</span>
                    </div>
                    <div class="data-table-header__actions">
                        <button class="btn btn-default btn-sm" type="button" ng-click="showCustomDetail(appId)"><i class="fa fa-file-text m-r-sm" ></i>客户详细信息</button>
                        <button class="btn btn-m btn-default btn-sm" type="button"  ng-click="addTelIncomeInfo()"><i class="fa fa-plus m-r-sm"></i>新增</button>
                        <button class="btn btn-default btn-sm" type="button"  ng-click="back()"><i class="fa fa-level-up m-r-sm"></i>返回上级</button>
                    </div>
                </header>
            </div>
        </div>
    <ng-form  name="form" novalidate ng-cloak="">
        <div class="check-body-full">
                <uib-tabset>
                    <uib-tab index="0">
                        <uib-tab-heading>
                            <span>电话来电信息</span>
                        </uib-tab-heading>
                        <div class="panel panel-default">
                            <div class="data-table-container">
                                <table class="data-table">
                                    <thead>
                                    <tr>
                                        <th style="width:60px">序号</th>
                                        <th>来电时间</th>
                                        <th>来电事项类型</th>
                                        <th>来电备注</th>
                                        <th>创建人</th>
                                        <th>处理情况</th>
                                        <th>处理时间</th>
                                        <th>处理备注</th>
                                        <th>处理人</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in telIncomeHisList">
                                        <td>{{$index+1}}</td>
                                        <td>{{item.incomeTime | mysqlDatetime}}</td>
                                        <td>{{item.incomeTypeDesc}}</td>
                                        <td>{{item.incomeComment}}</td>
                                        <td>{{item.createName}}</td>
                                        <td>{{item.processStatusDesc}}</td>
                                        <td>{{item.processTime | mysqlDatetime}}</td>
                                        <td>{{item.processComment}}</td>
                                        <td>{{item.processName}}</td>
                                        <td>
                                            <a href="javascript:" ng-if="item.processStatus=='ldclzt02'" ng-click="processTelIncomeInfo(item)">处理</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </uib-tab>
                </uib-tabset>
        </div>
    </ng-form>
</div>
