<div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>{{title}}</h4>
</div>
<div class="modal-body">
    <form name="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" >
                    <textarea  class="form-control"  placeholder="{{placeholder}}" ng-model="vm.result" rows="6" required/>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success btn-sm" ng-disabled="app.$invalid" type="submit" ng-click="ok()">确定</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">关闭</button>
</div>

