<div ng-class="$getNodeCss(treeData)"     ng-click="$itemClicked(treeData)" onselectstart="return false" style="-moz-user-select:none;">
    <i ng-class="$getItemIcon(treeData)"   ng-click="$itemExpand(treeData)"></i>
    <span>
        <input type="checkbox" ng-if="canChecked" ng-model="treeData.checked" ng-change="$itemChecked(treeData)"/>
        <span ng-dblclick="$itemExpand(treeData)" ng-bind-html="treeData[nameField]|trustHtml"></span>
    </span>
</div>

<ul  ng-show="treeData.$$expanded">
    <li  ng-repeat="child in treeData.children" style="margin-left: -5px;!important;">
        <tree tree-data="child" can-checked="canChecked" name-field="{{nameField}}"  mode="{{mode}}" check-handle="checkHandle(treeData)"></tree>
    </li>
</ul>
