<div  uib-dropdown auto-close="outsideClick" >
    <div class="has-feedback">
        <input type="text" class="form-control" ng-model="selectedViewValue"  ng-required="ngRequired"  placeholder="{{placeholder}}" ng-disabled="ngDisabled"  uib-dropdown-toggle>
        <span style="right:0px;!important" class="fa fa-sort-desc   form-control-feedback" aria-hidden="true"></span>
    </div>

    <div uib-dropdown-menu  role="menu" style="width:100%;max-height: 400px;overflow-y:auto;" ng-if="groupBy == undefined" >
        <div class="m-l-xs m-b-xs  multiSelect" ng-repeat="item in choices" ng-click="onCheck(item)">
            <input type="checkbox" ng-checked="item.checked"><span inner-transclude></span>
        </div>
    </div>
    <div  uib-dropdown-menu  role="menu" style="width:100%;max-height: 400px;overflow-y:auto;" ng-if="groupBy != undefined" >
        <div ng-repeat="groupItem in groupList" >
            <strong>{{groupItem.key}}</strong>
            <div class="m-l-md m-b-xs multiSelect" ng-repeat="item in groupItem.child" ng-click="onCheck(item)" >
                <input type="checkbox" ng-checked="item.checked"><span inner-transclude></span>
            </div>
        </div>
    </div>
</div>