
<fieldset class="scheduler-border">
    <legend class="scheduler-border">减免信息</legend>
    <div class="row m-t-md">
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">应还本金：</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{applyVo.feeItem.repayCapital}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">减免金额：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="capital" ng-model="applyVo.remissionFeeItemVo.capital" placeholder="减免金额">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">应还利息：</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{applyVo.feeItem.repayInterest}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">减免金额：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="interest" ng-model="applyVo.remissionFeeItemVo.interest" placeholder="减免金额">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">应还罚息：</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{applyVo.feeItem.repayOverdueAmount}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">减免金额：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="overdueAmount" ng-model="applyVo.remissionFeeItemVo.overdueAmount" placeholder="减免金额">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">其他费用：</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{applyVo.feeItem.otherAmount}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">减免金额：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="otherFee" ng-model="applyVo.remissionFeeItemVo.otherFee" placeholder="减免金额">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">其他费用罚息：</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{applyVo.feeItem.otherOverdueAmount}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">减免金额：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="otherOverdueAmount" ng-model="applyVo.remissionFeeItemVo.otherOverdueAmount" placeholder="减免金额">
                </div>
            </div>
        </div>
    </div>
</fieldset>