<fieldset class="scheduler-border">
    <legend class="scheduler-border">融资基本信息</legend>
    <div class="row m-t-md">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">合同编号：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.contractNo}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">申请单号：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.appId}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">姓名：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">证件号码：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.idNo}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">融资金额：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.financeAmt}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">融资期限：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.period}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">还款方式：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.repayModeDesc}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">放款日期：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.loanDate }}</p>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">结清信息</legend>
    <div class="row m-t-md">
        <div class="col-md-4" ng-if="false">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">结清开始期数：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyVo.beginPeriod}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"  ng-if="false">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">结清截止期数：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyVo.endPeriod}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">结清期数：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyVo.endPeriod-applyVo.beginPeriod+1}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">有效截止日期：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyVo.applyEffectDate |mysqlDate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="data-table-container">
            <table class="table data-table">
                <thead>
                <tr>
                    <th style="width:150px">结清项目</th>
                    <th style="width:100px"></th>
                    <th style="width:150px">结清金额</th>
                    <th style="width:100px"></th>
                    <th style="width:300px">减免金额</th>
                    <th>结清项总额</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>应还本金(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.repayCapital}}</td>
                    <td>-</td>
                    <td>
                        {{applyVo.remissionFeeItemVo.capital}}
                        <!--
                        <div class="form-group form-group-sm" style="margin-bottom: 0px;!important;">
                            <input type="number" class="form-control" style="width:150px" id="capital" ng-model="applyVo.remissionFeeItemVo.capital"
                                   verify-remission-amount="applyVo.feeItem.repayCapital" step="0.01" placeholder="减免本金">
                        </div>
                        -->
                    </td>
                    <td>{{(applyVo.feeItem.repayCapital-applyVo.remissionFeeItemVo.capital).toFixed(2)}}</td>
                </tr>
                <tr>
                    <td>应还利息(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.repayInterest}}</td>
                    <td>-</td>
                    <td>
                        {{applyVo.remissionFeeItemVo.interest}}
                        <!--
                        <div class="form-group form-group-sm" style="margin-bottom: 0px;!important;">
                            <input type="number" class="form-control"  style="width:150px" id="interest" ng-model="applyVo.remissionFeeItemVo.interest"
                                   verify-remission-amount="applyVo.feeItem.repayInterest" step="0.01" placeholder="减免利息">
                        </div>
                        -->
                    </td>
                    <td>{{(applyVo.feeItem.repayInterest-applyVo.remissionFeeItemVo.interest).toFixed(2)}}</td>
                </tr>
                <tr>
                    <td>应还罚息(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.repayOverdueAmount}}</td>
                    <td>-</td>
                    <td>
                        {{applyVo.remissionFeeItemVo.overdueAmount}}
                        <!--
                        <div class="form-group form-group-sm" style="margin-bottom: 0px;!important;">
                            <input type="number" class="form-control"  style="width:150px" id="overdueAmount" ng-model="applyVo.remissionFeeItemVo.overdueAmount"
                                   verify-remission-amount="applyVo.feeItem.repayOverdueAmount" step="0.01" placeholder="减免罚息">
                        </div>
                        -->
                    </td>
                    <td>{{(applyVo.feeItem.repayOverdueAmount-applyVo.remissionFeeItemVo.overdueAmount).toFixed(2)}}</td>
                </tr>
                <tr>
                    <td>其他费用(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.otherAmount}}</td>
                    <td>-</td>
                    <td>
                        {{applyVo.remissionFeeItemVo.otherFee}}
                        <!--
                        <div class="form-group form-group-sm" style="margin-bottom: 0px;!important;">
                            <input type="number" class="form-control"  style="width:150px"  id="otherFee" ng-model="applyVo.remissionFeeItemVo.otherFee"
                                   verify-remission-amount="applyVo.feeItem.otherAmount" step="0.01"  placeholder="减免其他费用">
                        </div>
                        -->
                    </td>
                    <td>{{(applyVo.feeItem.otherAmount-applyVo.remissionFeeItemVo.otherFee).toFixed(2)}}</td>
                </tr>
                <tr>
                    <td>其他费用罚息(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.otherOverdueAmount}}</td>
                    <td>-</td>
                    <td>
                        {{applyVo.remissionFeeItemVo.otherOverdueAmount}}
                        <!--
                        <div class="form-group form-group-sm" style="margin-bottom: 0px;!important;">
                            <input type="number" class="form-control"  style="width:150px"   id="otherOverdueAmount" ng-model="applyVo.remissionFeeItemVo.otherOverdueAmount"
                                   verify-remission-amount="applyVo.feeItem.otherOverdueAmount" step="0.01"  placeholder="减免其他费用罚息">
                        </div>
                        -->
                    </td>
                    <td>{{(applyVo.feeItem.otherOverdueAmount-applyVo.remissionFeeItemVo.otherOverdueAmount).toFixed(2)}}</td>
                </tr>
                <tr  class="danger">
                    <td>挂账金额(-)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.stayAmount}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>结清本金(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.settleCapital}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>提前结清违约金(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.lateFee}}</td>
                    <td>-</td>
                    <td>
                        {{applyVo.remissionFeeItemVo.lateFee}}
                        <!--
                        <div class="form-group form-group-sm" style="margin-bottom: 0px;!important;">
                            <input type="number" class="form-control"  style="width:150px"  id="lateFee" ng-model="applyVo.remissionFeeItemVo.lateFee"
                                   verify-remission-amount="applyVo.feeItem.lateFee" step="0.01"  placeholder="减免提前结清违约金">
                        </div>
                        -->
                    </td>
                    <td>{{(applyVo.feeItem.lateFee-applyVo.remissionFeeItemVo.lateFee).toFixed(2)}}</td>
                </tr>
                <tr class="info">
                    <td>合计</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.settleTotalAmount}}</td>
                    <td>-</td>
                    <td>{{
                        (applyVo.remissionFeeItemVo.capital+
                        applyVo.remissionFeeItemVo.interest+
                        applyVo.remissionFeeItemVo.overdueAmount+
                        applyVo.remissionFeeItemVo.otherFee+
                        applyVo.remissionFeeItemVo.otherOverdueAmount+
                        applyVo.remissionFeeItemVo.lateFee).toFixed(2)
                        }}
                    </td>
                    <td>
                        {{(applyVo.feeItem.settleTotalAmount - (applyVo.remissionFeeItemVo.capital+
                        applyVo.remissionFeeItemVo.interest+
                        applyVo.remissionFeeItemVo.overdueAmount+
                        applyVo.remissionFeeItemVo.otherFee+
                        applyVo.remissionFeeItemVo.otherOverdueAmount+
                        applyVo.remissionFeeItemVo.lateFee)).toFixed(2)}}
                    </td>
                </tr>
                <tr>
                    <td>结清后剩余本金</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.settleAfterAmount}}</td>
                </tr>
                <tr>
                    <td>入账金额</td>
                    <td>=</td>
                    <td colspan="4">
                        <div class="form-group form-group-sm" style="margin-bottom: 0px;!important;">
                            <input type="number" class="form-control"  style="width:150px"   id="settleRepayAmount"  min="0.01"  ng-model="applyVo.settleRepayAmount" required
                                   verify-settle-repay-amount  apply-vo="applyVo" step="0.01"  placeholder="入账金额">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-sm">
                <div class="col-sm-12">
                    <textarea  type="text" class="form-control" id="comment" ng-model="applyVo.applyComment" placeholder="申请备注"  rows="5" disabled></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-sm">
                <div class="col-sm-12">
                    <textarea  type="text"  class="form-control" id="remissionComment" ng-model="applyVo.remissionFeeItemVo.remissionComment" placeholder="减免备注"  rows="5" ></textarea>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<div class="panel panel-default">
    <div class="data-table-container">
        <table class="data-table">
            <thead>
            <tr>
                <th style="width:100px">期数</th>
                <th>本金</th>
                <th>利息</th>
                <th>应还总额</th>
                <th>起息日</th>
                <th>结账日</th>
                <th>剩余本金</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in applyVo.repayPlanList">
                <td>{{item.period}}</td>
                <td>{{item.repayCapital}}</td>
                <td>{{item.repayCnterest}}</td>
                <td>{{item.repayTotalAmount}}</td>
                <td>{{item.valueDate | mysqlDate}}</td>
                <td>{{item.closingDate | mysqlDate}}</td>
                <td>{{item.remainCapital}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

