
<fieldset class="scheduler-border">
    <legend class="scheduler-border">减免信息</legend>
    <div class="row m-t-md">
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">减免日期：</label>
                <div class="col-sm-6">
                    <p class="input-group">
                        <input type="text" id="remissionDate" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                               placeholder="减免日期"
                               is-open="isopenRemissionDate"
                               datepicker-options="dateOptions"
                               ng-model="applyVo.remissionFeeItemVo.remissionDate" >
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"   ng-click="isopenRemissionDate=!isopenRemissionDate" ><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">应还本金：</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{applyVo.feeItem.repayCapital}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">减免金额：</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="capital" ng-model="applyVo.remissionFeeItemVo.capital" verify-remission-amount="applyVo.feeItem.repayCapital" step="0.01" placeholder="减免金额">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">应还利息：</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{applyVo.feeItem.repayInterest}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">减免金额：</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="interest" ng-model="applyVo.remissionFeeItemVo.interest" verify-remission-amount="applyVo.feeItem.repayInterest" step="0.01" placeholder="减免金额">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">应还罚息：</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{applyVo.feeItem.repayOverdueAmount}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">减免金额：</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="overdueAmount" ng-model="applyVo.remissionFeeItemVo.overdueAmount" verify-remission-amount="applyVo.feeItem.repayOverdueAmount" step="0.01" placeholder="减免金额">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">其他费用：</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{applyVo.feeItem.otherAmount}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">减免金额：</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="otherFee" ng-model="applyVo.remissionFeeItemVo.otherFee"  verify-remission-amount="applyVo.feeItem.otherAmount" step="0.01"  placeholder="减免金额">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">其他费用罚息：</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{applyVo.feeItem.otherOverdueAmount}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">减免金额：</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="otherOverdueAmount" ng-model="applyVo.remissionFeeItemVo.otherOverdueAmount"   verify-remission-amount="applyVo.feeItem.otherOverdueAmount" step="0.01"  placeholder="减免金额">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">违约金：</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{applyVo.feeItem.lateFee}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label">减免金额：</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="lateFee" ng-model="applyVo.remissionFeeItemVo.lateFee"   verify-remission-amount="applyVo.feeItem.lateFee" step="0.01"  placeholder="减免金额">
                </div>
            </div>
        </div>
    </div>
</fieldset>