<fieldset class="scheduler-border">
    <legend class="scheduler-border">融资基本信息</legend>
    <div class="row m-t-md">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">合同编号：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.contractNo}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">申请单号：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.appId}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">姓名：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">证件号码：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.idNo}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">融资金额：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.financeAmt}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">融资期限：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.period}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">还款方式：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.repayModeDesc}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">放款日期：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{baseInfoVo.loanDate }}</p>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">结清信息</legend>
    <div class="row m-t-md">
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">结清开始期数：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyVo.beginPeriod}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">结清截止期数：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{applyVo.endPeriod}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-sm">
                <label class="col-sm-4 control-label">有效截止日期：</label>
                <div class="col-sm-8">
                    <p class="input-group">
                        <input type="text" id="applyEffectDate" class="form-control" uib-datepicker-popup="yyyy-MM-dd" required
                               placeholder="有效截止日期"
                               is-open="isopenApplyEffectDate"
                               datepicker-options="dateOptions"
                               ng-model="applyVo.applyEffectDate" >
                        <span class="input-group-btn">
                            <button type="button" class="form-control btn btn-default"   ng-click="isopenApplyEffectDate=!isopenApplyEffectDate" ><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="data-table-container">
            <table class="data-table">
                <thead>
                <tr>
                    <th style="width:150px">结清项目</th>
                    <th style="width:100px"></th>
                    <th>结清金额</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>应还本金(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.repayCapital}}</td>
                </tr>
                <tr>
                    <td>应还利息(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.repayInterest}}</td>
                </tr>
                <tr>
                    <td>应还罚息(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.repayOverdueAmount}}</td>
                </tr>
                <tr>
                    <td>其他费用(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.otherAmount}}</td>
                </tr>
                <tr>
                    <td>其他费用罚息(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.otherOverdueAmount}}</td>
                </tr>
                <tr>
                    <td>挂账金额(-)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.stayAmount}}</td>
                </tr>
                <tr>
                    <td>结清本金(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.settleCapital}}</td>
                </tr>
                <tr>
                    <td>提前结清违约金(+)</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.lateFee}}</td>
                </tr>
                <tr>
                    <td>合计</td>
                    <td>=</td>
                    <td>{{applyVo.feeItem.settleTotalAmount}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-sm">
                <div class="col-sm-12">
                    <textarea  type="text" class="form-control" id="comment" ng-model="applyVo.applyComment" placeholder="申请备注"  rows="5" ></textarea>
                </div>
            </div>
        </div>
    </div>
</fieldset>