<div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>报盘明细</h4>
</div>
<div class="modal-body" style="height: 600px;overflow-y: auto">
    <div class="panel panel-default data-table-container">
        <table class="data-table">
            <thead>
            <tr>
                <th style="width:200px">申请单号</th>
                <th>姓名</th>
                <th>卡号</th>
                <th>交易日期</th>
                <th>订单号</th>
                <th>扣款状态</th>
                <th>扣款金额</th>
                <th>返回结果</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in offerBatchDetailList">
                <td>{{item.appId}}</td>
                <td>{{item.custName}}</td>
                <td>{{item.cardNo}}</td>
                <td>{{item.tranDate}}</td>
                <td>{{item.orderNo}}</td>
                <td>
                    <span ng-if="item.chargeStatus=='kkzt01'">待扣款</span>
                    <span ng-if="item.chargeStatus=='kkzt02'">扣款中</span>
                    <span ng-if="item.chargeStatus=='kkzt03'">扣款完成</span>
                </td>
                <td>{{item.chargeAmount}}</td>
                <td>{{item.chargeResult}}</td>
            </tr>
            </tbody>
        </table>
        <div class="has-divider has-divider--dark"></div>
        <div class="toolbar">
            <div class="toolbar__left mr++">
                    <span ng-if="paginationInfo.totalItem==0">
                        无查询结果
                    </span>
            </div>
                <span class="toolbar__label fs-title">

                </span>
            <div class="toolbar__right" ng-if="paginationInfo.totalItem>0">
                <div class="mr+++">
                    <span>
                        总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
                </div>
                <div>
                    <uib-pagination boundary-links="true" total-items="paginationInfo.totalItem"
                                    ng-model="paginationInfo.curPage"
                                    max-size="paginationInfo.maxSize"
                                    items-per-page="paginationInfo.pageSize" ng-change="pageChanged()"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;">
                    </uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
</div>
