<div ng-init="initFileCharge()" cg-busy="loading">
    <div class="panel_main">
        <div class="data-table-container">
            <header class="data-table-header">
                <div class="data-table-header__label">
                </div>
                <div class="data-table-header__actions">
                    <button class="btn btn-sm btn-default" type="button" ng-click="exportOfferFile()"><i class="fa fa-plus m-r-sm"></i>导出报盘文件</button>
                </div>
            </header>
            <table class="data-table">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>申请单号</th>
                    <th>姓名</th>
                    <th>扣款金额</th>
                    <th>报盘时间</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in manualOfferList">
                    <td>{{item.seq}}</td>
                    <td>{{item.appId}}</td>
                    <td>{{item.custName}}</td>
                    <td>{{item.offerAmount}}</td>
                    <td>{{item.genTime| mysqlDatetime}}</td>
                </tr>
                </tbody>
            </table>
            <div class="has-divider has-divider--dark"></div>
            <div class="toolbar">
                <div class="toolbar__left mr++">
                    <span ng-if="paginationInfo.totalItem==0">
                        无查询结果
                    </span>
                </div>
                <span class="toolbar__label fs-title">

                </span>
                <div class="toolbar__right" ng-if="paginationInfo.totalItem>0">
                    <div class="mr+++">
                    <span>
                        总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
                    </div>
                    <div>
                        <uib-pagination boundary-links="true" total-items="paginationInfo.totalItem"
                                        ng-model="paginationInfo.curPage"
                                        max-size="paginationInfo.maxSize"
                                        items-per-page="paginationInfo.pageSize" ng-change="pageChangedFileCharge()"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                        last-text="&raquo;">
                        </uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
