<form name="form" class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>新增表单模板</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="tplName" class="col-sm-3 control-label">模板名称：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="tplName" placeholder="模板名称" ng-model="item.tplName" required>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">确定</button>
        <button class="btn btn-danger btn-modal-left" type="button" ng-click="delete()">删除</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>