<form name="form"  enctype="multipart/form-data"  ng-disabled="ngDisabled">
    <div class="input-group">
        <input type="text" class="form-control"  ng-required="ngRequired" placeholder="{{placeholder}}" ng-model="fileListName">
        <span class="input-group-btn">
               <button class="btn btn-default btn-sm file-button" type="button" ng-if="multiple==true">
                   <i class="glyphicon glyphicon-arrow-up"></i>
                   <input type="file" ng-model="file" id="file"  multiple="multiple" onchange="angular.element(this).scope().fileChange()" />选择文件..
               </button>
                <button class="btn btn-default btn-sm file-button" type="button" ng-if="multiple==false" >
                    <i class="glyphicon glyphicon-arrow-up"></i>
                    <input type="file" ng-model="file" id="file"  onchange="angular.element(this).scope().fileChange()" />选择文件..
                </button>
        </span>
    </div>
</form>