<div ng-init="init()">
    <div class="c_box">
        <div class="c_left_box">
            <div class="panel_main">
                <div class="panel-header">
                    <div class="panel-header-wrapper">
                        <h2 class="panel-header-title">目录结构</h2>
                    </div>
                </div>
                <div class="data-table-container">
                    <header class="data-table-header">
                        <div class="data-table-header__label">
                            <span class="fs-title"></span>
                        </div>
                        <div class="data-table-header__actions">
                            <button class="btn btn-m btn-default btn-sm" type="button" ng-click="addDir()"><i class="fa fa-plus m-r-sm"></i>增加目录</button>
                        </div>
                    </header>
                </div>
                <div>
                    <ui-tree tree-data="dirTree" label="dirName" on-select="select($item)"></ui-tree>
                </div>
            </div>
        </div>
        <div class="c_right_box">
            <div class="panel_main">
                <div class="panel-header">
                    <div class="panel-header-wrapper">
                        <h2 class="panel-header-title">下级目录</h2>
                    </div>
                </div>
                <div class="data-table-container">
                    <header class="data-table-header">
                        <div class="data-table-header__label">
                            <div   ng-show="selNode !=undefined && selNode.parentId!='0000'">
                                <span class="fs-title">{{selNode.dirName}}</span>
                                <small><a href="javascript:" ng-click="editDir(selNode)">编辑</a></span></small>
                            </div>
                            <!--
                            <span class="fs-title">{{selNode.areaName}}</span>
                            <button class="btn btn-m btn-default" type="button" ng-click="editSysArea(selNode)"><i class="fa fa-edit m-r-sm"></i>编辑区域</button>
                            -->
                        </div>
                        <div class="data-table-header__actions">
                        </div>
                    </header>
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th>目录名称</th>
                            <th>创建时间</th>
                            <th>创建人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in subSysAreas">
                            <td>{{item.dirName}}</td>
                            <td>{{item.createTime|mysqlDatetime}}</td>
                            <td>{{item.createId}}</td>
                            <td>
                                <a href="javascript:" ng-click="editDir(item)">编辑</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="has-divider has-divider--dark"></div>
                    <div class="toolbar" ng-if="false">
                        <div class="toolbar__left mr++">
                    <span ng-if="paginationInfo.totalItem==0">
                        无查询结果
                    </span>
                        </div>
                <span class="toolbar__label fs-title">

                </span>
                        <div class="toolbar__right" ng-if="paginationInfo.totalItem>0">
                            <div class="mr+++">
                    <span>
                        总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
                            </div>
                            <div>
                                <uib-pagination boundary-links="true" total-items="paginationInfo.totalItem"
                                                ng-model="paginationInfo.curPage"
                                                items-per-page="paginationInfo.pageSize" ng-change="pageChanged()"
                                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                                last-text="&raquo;">
                                </uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
