<div class="panel" ng-init="initConfigTemplateDirectory()">
    <div class="data-table-container" >
        <header class="data-table-header" style="min-height:72px !important;">
            <div class="data-table-header__label">
                <span class="fs-title"><i class="fa fa-tasks mr"></i>设置模板参数</span>
            </div>
            <div class="data-table-header__actions">
                <!--
                <button class="btn  btn-link" type="button" ng-click="commitSignContractTask()"><i class="fa fa-cab m-r-sm"></i>提交任务</button>
                <button class="btn btn-link" type="button" ng-click="saveApplyInfo()"><i class="fa fa-save m-r-sm"></i>保存草稿</button>
                <button class="btn btn-link" type="button"  ng-click="printVar()"><i class="fa fa-save m-r-sm"></i>打印变量</button>
                -->
                <button class="btn btn-default btn-sm" type="button"  ng-click="saveTemplateDirectory()"><i class="fa  fa-chevron-circle-right m-r-sm"></i>下一步</button>
            </div>
        </header>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="console-step row m-b">
                    <div class="step  col-md-6 step-active">1.设置模板目录</div>
                    <div class="step  col-md-6">2.设置模板分类目录</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ui-tree tree-data="enabledDirTree" label="dirName" checked="true" on-select="select($item)"></ui-tree>
            </div>
        </div>

    </div>
</div>