<div class="panel" ng-init="initConfigTemplateCategory()">
    <div class="data-table-container" >
        <header class="data-table-header" style="min-height:72px !important;">
            <div class="data-table-header__label">
                <span class="fs-title"><i class="fa fa-tasks mr"></i>设置模板参数</span>
            </div>
            <div class="data-table-header__actions">
                <!--
                <button class="btn  btn-link" type="button" ng-click="commitSignContractTask()"><i class="fa fa-cab m-r-sm"></i>提交任务</button>
                <button class="btn btn-link" type="button" ng-click="saveApplyInfo()"><i class="fa fa-save m-r-sm"></i>保存草稿</button>
                <button class="btn btn-link" type="button"  ng-click="printVar()"><i class="fa fa-save m-r-sm"></i>打印变量</button>
                -->
                <button class="btn btn-default btn-sm" type="button"  ng-click="backToStep1()"><i class="fa  fa-chevron-circle-left m-r-sm"></i>上一步</button>
            </div>
        </header>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="console-step row m-b">
                    <div class="step  col-md-6">1.设置模板目录</div>
                    <div class="step  col-md-6 step-active">2.设置模板分类目录及必传项</div>
                </div>
            </div>
        </div>
    </div>
    <div class="data-table-container">
        <header class="data-table-header">
            <div class="data-table-header__label">
            </div>
            <div class="data-table-header__actions">
                <button class="btn btn-m btn-default btn-sm" type="button" ng-click="addTemplateCategory()"><i class="fa fa-plus m-r-sm"></i>选择模板分类</button>
            </div>
        </header>
        <table class="data-table">
            <thead>
            <tr>
                <th>分类名称</th>
                <th>分类标识</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in templateCategoryList">
                <td>{{item.categoryName}}</td>
                <td>{{item.categoryKey}}</td>
                <td>
                    <a href="javascript:" ng-click="configTemplateCategoryDir(item.id)">配置分类目录</a>
                    <a href="javascript:" ng-click="configTemplateCategoryRequiredDir(item.id)">配置分类必传项</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="has-divider has-divider--dark"></div>
        <div class="toolbar" ng-if="false">
            <div class="toolbar__left mr++">
                    <span ng-if="paginationInfo.totalItem==0">
                        无查询结果
                    </span>
            </div>
                <span class="toolbar__label fs-title">

                </span>
            <div class="toolbar__right" ng-if="paginationInfo.totalItem>0">
                <div class="mr+++">
                    <span>
                        总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
                </div>
                <div>
                    <uib-pagination boundary-links="true" total-items="paginationInfo.totalItem"
                                    ng-model="paginationInfo.curPage"
                                    items-per-page="paginationInfo.pageSize" ng-change="pageChanged()"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;">
                    </uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>