<form name="form" class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>新增产品规则</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="ruleName" class="col-sm-4 control-label">规则名称：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="ruleName" placeholder="规则名称" ng-model="item.ruleName" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="productCode" class="col-sm-4 control-label">裸车价最小额度：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="productCode" placeholder="裸车价最小额度" ng-model="item.productCode" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="loanCondition" class="col-sm-4 control-label">裸车价最大额度：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="productCode" placeholder="裸车价最大额度" ng-model="item.productCode" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="minLoanAmount" class="col-sm-4 control-label">首付最小比例：</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control"   id="minLoanAmount" placeholder="首付最小比例" ng-model="item.minLoanAmount" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="maxLoanAmount" class="col-sm-4 control-label">首付最大比例：</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="maxLoanAmount" placeholder="首付最大比例" ng-model="item.maxLoanAmount" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="yearRate" class="col-sm-4 control-label">服务费最小额度：</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" step="0.01" id="yearRate" placeholder="服务费最小额度" ng-model="item.yearRate" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="dayLateRate" class="col-sm-4 control-label">服务费最大额度：</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" step="0.01" id="dayLateRate" placeholder="服务费最大额度" ng-model="item.dayLateRate" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="yearRate" class="col-sm-4 control-label">保险费最小额度：</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" step="0.01" id="yearRate" placeholder="保险费最小额度" ng-model="item.yearRate" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="dayLateRate" class="col-sm-4 control-label">保险费最大额度：</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" step="0.01" id="dayLateRate" placeholder="保险费最大额度" ng-model="item.dayLateRate" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="yearRate" class="col-sm-4 control-label">延保费最小额度：</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" step="0.01" id="yearRate" placeholder="延保费最小额度" ng-model="item.yearRate" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="dayLateRate" class="col-sm-4 control-label">延保费最大额度：</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" step="0.01" id="dayLateRate" placeholder="延保费最大额度" ng-model="item.dayLateRate" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="yearRate" class="col-sm-4 control-label">过户费最小额度：</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" step="0.01" id="yearRate" placeholder="过户费最小额度" ng-model="item.yearRate" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="dayLateRate" class="col-sm-4 control-label">过户费最大额度：</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" step="0.01" id="dayLateRate" placeholder="过户费最大额度" ng-model="item.dayLateRate" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="yearRate" class="col-sm-4 control-label">加装费最小额度：</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" step="0.01" id="yearRate" placeholder="加装费最小额度" ng-model="item.yearRate" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="dayLateRate" class="col-sm-4 control-label">加装费最大额度：</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" step="0.01" id="dayLateRate" placeholder="加装费最大额度" ng-model="item.dayLateRate" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="yearRate" class="col-sm-4 control-label">是否可选评估费：</label>
                    <div class="col-sm-8">
                        <input type="check" class="form-control" id="yearRate" placeholder="是否可选评估费" ng-model="item.yearRate" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="dayLateRate" class="col-sm-4 control-label">加装费最大额度：</label>
                    <div class="col-sm-8">
                        <input type="check" class="form-control"id="dayLateRate" placeholder="是否全款再融" ng-model="item.dayLateRate" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="yearRate" class="col-sm-4 control-label">是否有服务费：</label>
                    <div class="col-sm-8">
                        <input type="check" class="form-control" id="yearRate" placeholder="是否有服务费" ng-model="item.yearRate" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="dayLateRate" class="col-sm-4 control-label">是否有购置税：</label>
                    <div class="col-sm-8">
                        <input type="check" class="form-control"id="dayLateRate" placeholder="是否有购置税" ng-model="item.dayLateRate" required>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">确定</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>