<form name="form" class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>编辑{{item.tplName}}服务费规则模板</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="ruleDesc" class="col-sm-3 control-label">规则描述：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="ruleDesc"  ng-model="item.ruleDesc" required>
            </div>
        </div>
        <div class="form-group">
            <label for="minSalePrice" class="col-sm-3 control-label">最小裸车价：</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="minSalePrice"  ng-model="item.minSalePrice" required>
            </div>
        </div>
        <div class="form-group">
            <label for="maxSalePrice" class="col-sm-3 control-label">最大裸车价：</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="maxSalePrice"   ng-model="item.maxSalePrice" required>
            </div>
        </div>

        <div class="form-group">
            <label for="minServiceFee" class="col-sm-3 control-label">最小服务费：</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="minServiceFee"  ng-model="item.minServiceFee" required>
            </div>
        </div>

        <div class="form-group">
            <label for="maxServiceFee" class="col-sm-3 control-label">最大服务费：</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="maxServiceFee"  ng-model="item.maxServiceFee" required>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-disabled="form.$invalid" ng-click="ok()">确定</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>