<div ng-init="init()" >
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>选择工作组人员</h4>
    </div>
    <div class="modal-body" >
        <div class="c_box" style="min-height: 300px">
            <div class="c_left_box" style="width: 30% !important;">
                <div class="panel_main">
                    <div class="panel-header">
                        <div class="panel-header-wrapper">
                            <h2 class="panel-header-title">机构列表</h2>
                        </div>
                    </div>
                    <div>
                        <tree tree-data="sysBranchTree" can-checked="false" name-field="branchName"></tree>
                    </div>
                </div>
            </div>
            <div class="c_left_box"  style="width: 40% !important;">
                <div class="panel_main">
                    <div class="panel-header">
                        <div class="panel-header-wrapper">
                            <h2 class="panel-header-title">可选用户</h2>
                        </div>
                    </div>
                    <div class="data-table-container">
                        <table class="data-table">
                            <thead>
                            <tr>
                                <th>人员编码</th>
                                <th>姓名</th>
                                <th>组操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in canSelSysAccounts">
                                <td>{{item.accountId}}</td>
                                <td>{{item.accountName}}</td>
                                <td>
                                    <a href="javascript:" ng-click="addToWorkgroup(item)">加入</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="c_right_box"  style="width: 30% !important;">
                <div class="panel_main">
                    <div class="panel-header">
                        <div class="panel-header-wrapper">
                            <h2 class="panel-header-title">已选用户</h2>
                        </div>
                    </div>
                    <div class="data-table-container">
                        <table class="data-table">
                            <thead>
                            <tr>
                                <th>人员编码</th>
                                <th>姓名</th>
                                <th>组操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in workgroupAccounts">
                                <td>{{item.accountId}}</td>
                                <td>{{item.accountName}}</td>
                                <td>
                                    <a href="javascript:" ng-click="removeFromWorkgroup(item)">移除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">确定</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
    </div>
</div>
