<form name="form" class="form-horizontal">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>节点参数配置:{{node.nodeName}}</h4>
    </div>
    <div class="modal-body">
        <div  class="container-fluid">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">参数设置</legend>
                <div class="row">
                    <div class="col-md-12" >
                        <div class="form-group">
                            <label for="preHandle" class="col-sm-3 control-label">任务创建前处理器：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="preHandle" ng-model="nodeParam.taskCreatePrehandle">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="afterHandle" class="col-sm-3 control-label">任务创建后处理器：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="afterHandle" ng-model="nodeParam.taskCreateAfterhandle">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="completeHandle" class="col-sm-3 control-label">任务完成后处理器：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="completeHandle" ng-model="nodeParam.taskCompleteHandle">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="afterHandle" class="col-sm-3 control-label">节点通知方式：</label>
                            <div class="col-sm-9">
                                <div id="noticeType" class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="site"   ng-checked=nodeParam.onSiteNotice" ng-model="nodeParam.onSiteNotice"> 站内
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="msg"     ng-checked="nodeParam.onMsgNotice" ng-model="nodeParam.onMsgNotice"> 短信
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="mail"   ng-checked="nodeParam.onMailNotice" ng-model="nodeParam.onMailNotice"> 邮件
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="weixin"  ng-checked="nodeParam.onWeixinNotice" ng-model="nodeParam.onWeixinNotice"> 微信
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="recommitMode" class="col-sm-3 control-label">回退重新提交处理方式：</label>
                            <div class="col-sm-9">
                                <select  class="form-control" id="recommitMode"  ng-model="nodeParam.recommitMode" ng-options="l.dictDataCode as l.dictDataName for l in recommitModes" required>
                                    <option value="">请选择回退重新提交处理方式</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="backNodeId" class="col-sm-3 control-label">回退节点：</label>
                            <div class="col-sm-9">
                                <select  class="form-control" id="backNodeId"  ng-model="nodeParam.backNodeId" ng-options="l.nodeId as l.nodeName for l in userTaskNodes" required>
                                    <option value="">请选择回退节点</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="backNodeId" class="col-sm-3 control-label">人员分配模式：</label>
                            <div class="col-sm-9">
                                <select  class="form-control" id="assigneeMode"  ng-model="nodeParam.assigneeMode" ng-options="l.dictDataCode as l.dictDataName for l in assigneeModeList" >
                                    <option value="">请选择人员分配模式</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="backNodeId" class="col-sm-3 control-label">是否会签节点：</label>
                            <div class="col-sm-9">
                                <select  class="form-control" id="isMulti"  ng-model="nodeParam.multi" ng-options="o.key as o.val for o in [{key:true,val:'是'},{key:false,val:'否'}]" required >
                                    <option value="">是否启用</option>`
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="nodeParam.multi==true">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="multiPassMode" class="col-sm-3 control-label">会签通过模式：</label>
                            <div class="col-sm-9">
                                <select  class="form-control" id="multiPassMode"  ng-model="nodeParam.multiPassMode" ng-options="l.dictDataCode as l.dictDataName for l in counterSignModeList" required>
                                    <option value="">会签通过模式</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="nodeParam.multi==true">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="multiPassCond" class="col-sm-3 control-label">会签通过条件：</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">&gt;</span>
                                    <input type="text"  id="multiPassCond" class="form-control" ng-model="nodeParam.multiPassCond" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div>
                <uib-tabset>
                    <uib-tab index="0">
                        <uib-tab-heading>
                            <i class="fa fa-file-code-o fa-lg" aria-hidden="true"></i>&nbsp;活动启动脚本
                        </uib-tab-heading>
                        <textarea class="form-control" rows="20" ng-model="nodeParam.actStartScript" style="width:100%;"></textarea>
                    </uib-tab>
                    <uib-tab index="1">
                        <uib-tab-heading>
                            <i class="fa fa-file-code-o fa-lg" aria-hidden="true"></i>&nbsp;活动结束脚本
                        </uib-tab-heading>
                        <textarea class="form-control" rows="20" ng-model="nodeParam.actEndScript" style="width:100%;"></textarea>
                    </uib-tab>
                    <uib-tab index="2">
                        <uib-tab-heading>
                            <i class="fa fa-file-code-o fa-lg" aria-hidden="true"></i>&nbsp;任务创建脚本
                        </uib-tab-heading>
                        <textarea class="form-control" rows="20" ng-model="nodeParam.taskCreateScript" style="width:100%;"></textarea>
                    </uib-tab>
                    <uib-tab index="3">
                        <uib-tab-heading>
                            <i class="fa fa-file-code-o fa-lg" aria-hidden="true"></i>&nbsp;任务结束脚本
                        </uib-tab-heading>
                        <textarea class="form-control" rows="20" ng-model="nodeParam.taskCompleteScript" style="width:100%;"></textarea>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="save()">保存</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>
