<form name="form" class="container-fluid">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>节点参数配置</h4>
    </div>
    <div class="modal-body">
        <fieldset>
            <uib-tabset>
                <uib-tab index="0" heading="活动启动脚本">
                    <textarea class="form-control" rows="20" ng-model="nodeParam.actStartScript" style="width:100%;"></textarea>
                </uib-tab>
                <uib-tab index="1" heading="活动结束脚本">
                    <textarea class="form-control" rows="20" ng-model="nodeParam.actEndScript" style="width:100%;"></textarea>
                </uib-tab>
            </uib-tabset>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="save()">保存</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>
