<div class="panel">
    <div class="toolbar">
        <lx-button   lx-type="flat" lx-color="blue" class="ml-"  ng-click="addType()"><i class="mdi mdi-plus"></i>保存</lx-button>
    </div>
    <div class="has-divider has-divider--dark"></div>
    <form name="form">
        <div flex-container="column">
            <div flex-container="row">
                <div flex-item="4">
                    <lx-checkbox ng-model="vm.checkboxes.basic.checked" class="mt++">是否跳过第一个节点</lx-checkbox>
                </div>
            </div>
            <div class="has-divider has-divider--dark"></div>
            <div flex-container="row" flex-gutter="16">
                <div flex-item="4">
                    <lx-text-field   lx-label="流程启动前置处理器"  lx-allow-clear="true" lx-valid="form.actname.$valid" lx-error="form.actname.$invalid" >
                        <input type="text" name="actname"  ng-model="activity.actname" >
                    </lx-text-field>
                </div>
                <div flex-item="4">
                    <lx-text-field   lx-label="流程启动后置处理器"  lx-allow-clear="true" lx-valid="form.actname.$valid" lx-error="form.actname.$invalid" >
                        <input type="text" name="actname"  ng-model="activity.actname"  >
                    </lx-text-field>
                </div>
                <div flex-item="4">
                    <lx-text-field   lx-label="流程结束处理器"  lx-allow-clear="true" lx-valid="form.actname.$valid" lx-error="form.actname.$invalid" >
                        <input type="text" name="actname"  ng-model="activity.actname"  >
                    </lx-text-field>
                </div>
            </div>
            <div class="has-divider has-divider--dark"></div>
            <div class="panel">
                <div class="panel-header">
                    <div class="panel-header-wrapper">
                        <h2 class="panel-header-title">事件脚本配置</h2>
                    </div>
                </div>
                <lx-tabs>
                    <lx-tab lx-label="流程启动执行脚本">
                        <textarea ng-model="vm.textFields.textarea.description" style="width:100%;height:500px"></textarea>
                    </lx-tab>
                    <lx-tab lx-label="流程完成执行脚本">
                        <textarea ng-model="vm.textFields.textarea.description" style="width:100%;height:500px"></textarea>
                    </lx-tab>
                    <lx-tab lx-label="流程取消执行脚本">
                        <textarea ng-model="vm.textFields.textarea.description" style="width:100%;height:500px"></textarea>
                    </lx-tab>
                </lx-tabs>
            </div>
        </div>
    </form>

</div>