<div>
    <div class="data-table-container">
        <header class="data-table-header">
            <div class="data-table-header__label">
                <span class="fs-title"></span>
            </div>
            <div class="data-table-header__actions">
                <button class="btn btn-m btn-default" type="button" ng-click="createWorkflowDefine()"><i class="fa fa-save m-r-sm"></i>保存</button>
            </div>
        </header>
        <table class="data-table">
            <thead>
                <th>序号</th>
                <th>节点名称</th>
                <th>节点ID</th>
                <th>节点类型</th>
                <th>操作</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in nodeItems">
                    <td>{{item.seq}}</td>
                    <td>{{item.nodeName}}</td>
                    <td>{{item.nodeId}}</td>
                    <td>{{item.nodeType}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>