<div>
    <div class="data-table-container">
        <header class="data-table-header">
            <div class="data-table-header__label">
                <span class="fs-title"></span>
            </div>
            <div class="data-table-header__actions">
                <button class="btn btn-m btn-default" type="button" ng-click="saveWorkflowNodeForms()"><i class="fa fa-save m-r-sm"></i>保存</button>
            </div>
        </header>
        <table class="data-table">
            <thead>
                <th>序号</th>
                <th>节点名称</th>
                <th>表单路径</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in userTaskFormItems">
                    <td>{{item.seq}}</td>
                    <td>{{item.nodeName}}</td>
                    <td ng-mouseleave="item.showEditForm=false" ng-click="item.showEditForm=true">
                        <span ng-show="!item.showEditForm">{{item.formName}}</span>
                        <input  type="text" class="form-control" ng-model="item.formName" ng-show="item.showEditForm">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>