<div>
    <div class="data-table-container">
        <table class="data-table">
            <thead>
                <th>序号</th>
                <th>节点名称</th>
                <th>节点ID</th>
                <th>节点类型</th>
                <th>操作</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in nodeItems">
                    <td>{{item.seq}}</td>
                    <td>{{item.nodeName}}</td>
                    <td>{{item.nodeId}}</td>
                    <td>{{item.nodeType}}</td>
                    <td><a href="javascript:" ng-click="configNodeParam(item)"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>