<div ng-init="init()">
    <div class="c_box">
        <div class="c_left_box">
            <div class="panel_main">
                <div class="panel-header">
                    <div class="panel-header-wrapper">
                        <h2 class="panel-header-title">流程分类</h2>
                    </div>
                </div>
                <div class="data-table-container">
                    <header class="data-table-header">
                        <div class="data-table-header__label">
                            <span class="fs-title"></span>
                        </div>
                        <div class="data-table-header__actions">
                            <button class="btn btn-m btn-default" type="button" ng-click="addWorkflowType()"><i class="fa fa-plus m-r-sm"></i>增加流程分类</button>
                        </div>
                    </header>
                </div>

                <div>
                    <tree tree-data="workflowTypes" can-checked="false" name-field="typeName"></tree>
                </div>
            </div>
        </div>
        <div class="c_right_box">
            <div class="panel_main">
                <div class="panel-header">
                    <div class="panel-header-wrapper">
                        <h2 class="panel-header-title">流程定义</h2>
                    </div>
                </div>
                <div class="data-table-container">
                    <header class="data-table-header">
                        <div class="data-table-header__label">
                            <div class="fs-title">
                                <span style="padding-top:10px">{{selType.typeName}}</span>
                                <button class="btn btn-m btn-default" type="button" ng-click="editWorkflowType(selType)"><i class="fa fa-edit m-r-sm"></i>编辑流程分类</button>
                            </div>

                        </div>
                        <div class="data-table-header__actions">
                            <button class="btn btn-m btn-default" type="button" ng-click="createWorkflowDefine()"><i class="fa fa-plus m-r-sm"></i>增加流程定义</button>
                        </div>
                    </header>
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th>流程名称</th>
                            <th>流程标识</th>
                            <th>主版本</th>
                            <th>版本状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in workflowDefines">
                            <td>{{item.workflowName}}</td>
                            <td>{{item.workflowKey}}</td>
                            <td>{{item.version}}</td>
                            <td>{{item.versionStatus}}</td>
                            <td>
                                <a href="javascript:" ng-click="editWorkflow(item.activitiModelId)">编辑流程图</a>
                                <a href="javascript:" ng-click="showWorkflowVersionsList(item.id)">版本信息</a>
                                <a href="javascript:" ng-click="configWorkflow(item.versionId)">配置流程</a>
                                <a href="javascript:" ng-click="startProcess()">启动流程</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="has-divider has-divider--dark"></div>
                    <div class="toolbar" ng-if="false">
                        <div class="toolbar__left mr++">
                    <span ng-if="paginationInfo.totalItem==0">
                        无查询结果
                    </span>
                        </div>
                <span class="toolbar__label fs-title">

                </span>
                        <div class="toolbar__right" ng-if="paginationInfo.totalItem>0">
                            <div class="mr+++">
                    <span>
                        总共{{paginationInfo.totalItem}}条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 每页显示：{{paginationInfo.pageSize}}条
                    </span>
                            </div>
                            <div>
                                <uib-pagination boundary-links="true" total-items="paginationInfo.totalItem"
                                                ng-model="paginationInfo.curPage"
                                                items-per-page="paginationInfo.pageSize" ng-change="pageChanged()"
                                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                                last-text="&raquo;">
                                </uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
